/*
 * Text-level semantics
 * ====================
 * https://w3c.github.io/html/textlevel-semantics
 */

a {
  color: var(--anchor-color, inherit);
  text-decoration: var(--anchor-decoration, none);
  text-decoration-color: var(--color-link-underline);
  text-decoration-thickness: 1px;
  text-underline-offset: 1.5px;
}

a:hover {
  color: var(--color-accent);
  text-decoration-color: var(--color-accent);
  text-decoration-thickness: 2px;
}

a[aria-current] {
  font-weight: 500;
}

a[rel="tag"] {
  text-decoration: none;
  white-space: nowrap;
  word-spacing: -0.25ch;
}

a[rel="tag"]::before {
  content: "#";
}

a[rel="tag"]:hover::before {
  opacity: 1;
}

/* Correct text decoration in Chrome/Edge/IE/Opera/Safari */
abbr[title] {
  text-decoration: none;
}

sub,
sup {
  font-size: small;
}

sub {
  font-variant-position: sub;
}

sup {
  font-variant-position: super;
}

cite {
  font-style: italic;
}

:is(h1, h2, h3, h4, h5, h6) cite {
  font-style: normal;
}

code,
samp,
var {
  font-family: var(--font-family-monospace);
  font-style: normal;
  font-variant-numeric: tabular-nums;
}

ins {
  text-decoration: underline double;
}

mark {
  background-color: var(--color-highlight);
}

time {
  font-variant: tabular-nums;
}
