/*
 * Embedded content
 * ================
 * https://w3c.github.io/html/semantics-embedded-content
 */

img,
embed,
object {
  display: block;
  page-break-inside: avoid;
}

img,
object {
  block-size: auto;
  max-inline-size: 100%;
}
