/*
 * Embedded content
 * ================
 * https://w3c.github.io/html/semantics-embedded-content
 */

img,
embed,
object {
  block-size: auto;
  display: block;
  max-inline-size: 100%;
  page-break-inside: avoid;
}

@media (prefers-color-scheme: dark) {
  img {
    filter: brightness(0.8) contrast(1.2);
  }
}
