/*
 * Grouping content
 * ================
 * https://w3c.github.io/html/grouping-content
 */

address {
  font-style: normal;
}

hr {
  border: 0;
}

pre {
  hyphens: none;
  tab-size: 2;
  white-space: pre;
}

figure,
blockquote,
:--flow {
  font-feature-settings: "ss02" 1, "case" 1;
  hanging-punctuation: first;
  letter-spacing: 0.0125em;
  margin: 0;
  orphans: 2;
  widows: 2;
}

ol[role="list"],
ul[role="list"],
ul[role="listbox"] {
  list-style: none;
  padding: 0; /* Reset default list padding */
}

dd {
  margin-inline-start: var(--flow-inset, 0);
}
