/*
 * Interactive elements
 * ====================
 * https://w3c.github.io/html/interactive-elements.html
 */

summary {
  color: var(--anchor-color, inherit);
  cursor: pointer;
}

summary:focus-visible {
  outline-offset: var(--border-width-thick);
}
