/*
 * Sections
 * ========
 * https://w3c.github.io/html/sections
 */

/* 1. Prevent font size adjustment on orientation change in iOS. */
html {
  block-size: 100vh;
  scroll-behavior: smooth;
  text-size-adjust: 100%; /* 1 */
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  align-items: center;
  background: var(--color-offset);
  color: var(--color-text);
  display: flex;
  flex-direction: column;
  font-family: var(--font-family-sans);
  margin: 0;
  min-block-size: 100vh;
  overflow-x: hidden;
  padding-block-start: 0.5em;
}

body.stand-with-ukraine {
  box-shadow:
    inset 0 0.25em 0 0 hsl(211deg 100% 36%),
    inset 0 0.5em 0 0 hsl(51deg 100% 50%),
    inset 0 0.5625em 0 0 var(--color-outline);
}

:--heading {
  break-after: avoid;
  font-feature-settings: "ss02" 1, "case" 1;
  font-size: inherit;
  font-weight: inherit;
  hanging-punctuation: first;
  margin: 0;
  text-rendering: optimizelegibility;
}

::selection {
  background-color: var(--color-highlight);
}

:focus-visible {
  outline: var(--border-width-thicker) solid var(--color-focus);
  z-index: 1;
}

@media print {
  body {
    background: none;
  }
}
