/*
 * Sections
 * ========
 * https://w3c.github.io/html/sections
 */

/* 1. Prevent font size adjustment on orientation change in iOS. */
html {
  block-size: 100vh;
  scroll-behavior: smooth;
  text-size-adjust: 100%; /* 1 */
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

::selection {
  background-color: var(--color-highlight);
}

:focus {
  outline-color: var(--color-focus);
}

body {
  align-items: center;
  background: var(--color-offset);
  color: var(--color-text);
  display: flex;
  flex-direction: column;
  font-family: var(--font-family-sans);
  margin: 0;
  min-block-size: 100vh;
  overflow-x: hidden;
}

@media print {
  body {
    background: none;
  }
}

:--heading {
  break-after: avoid;
  font-size: inherit;
  font-weight: inherit;
  margin: 0;
  text-rendering: optimizeLegibility;
}
