<footer class="contentinfo">
  <div class="contentinfo__container">
    {%- render 'navigation' with navigation.social
      icons: true
      modifier: 'social'
    -%}
    {%- render 'navigation' with navigation.tertiary
      page: page
      tags: tags
    -%}
    <p class="contentinfo__legal">
      <small>© <time>{{ 'now' | date: 'yyyy' }}</time></small>
    </p>
  </div>
</footer>
