<span class="facepile">
  <span class="facepile__title">{{ type }}</span>
  <span class="facepile__main">
    {% for item in facepile limit: 5 %}
      {% image item.author.photo, 'avatar', 'avatar | u-photo' %}
    {% endfor %}
    {% if items.size > 5 %}
      <span class="facepile__counter">+{{ items.size | minus: 5 }}</span>
    {% endif %}
  </span>
</span>
