<ul class="navigation{% if modifier %} navigation--{{ modifier }}{% endif %}">
{%- for item in navigation %}
  <li>
    <a {% if item.rel %}rel="{{ item.rel }}" {% endif %}href="{{ item.url }}"{% if tags contains item.tag or page.url contains item.url %} aria-current="true"{% endif %}>
      {%- if item.icon %}{% icon item.icon 20 false %}{% else %}{{ item.label }}{% endif -%}
    </a>
  </li>
{%- endfor %}
</ul>
