<figure class="align-{{ alignment | default: 'none' }}">
  <div class="screenshots" style="--columns: {{ columns | default: screenshots.size }}">
  {%- for image in screenshots %}
    {% image image %}
  {%- endfor %}
  </div>
{%- if caption %}
  <figcaption>
    {{ caption | markdown }}
  </figcaption>
{%- endif %}
</figure>
