<figure class="align-{{ alignment | default: 'none' }}">
  <div class="screenshots" style="--columns: {{ columns | default: screenshots.size }}">
    {% render 'image' for screenshots as image %}
  </div>
{%- if caption %}
  <figcaption>
    {{ caption | markdown }}
  </figcaption>
{%- endif %}
</figure>
