.banner {
  inline-size: 100vw;
}

.banner__container {
  align-items: baseline;
  display: flex;
  flex-wrap: wrap;
  padding-block: var(--space-s-m);
  position: relative;
}

.banner__title {
  color: var(--color-text);
  flex: 0;
  font-weight: 500;
  margin-inline-end: var(--gap);
  min-inline-size: var(--logo-inline-size);
  white-space: nowrap;
}

.banner__title a {
  color: var(--color-text);
  display: inline-flex;
  margin-inline-start: calc(var(--space-s) * -1);
  padding-block: var(--space-2xs);
  padding-inline: var(--space-s);
}

.banner__title a:hover {
  text-decoration: var(--color-rule) underline;
}

.banner__navigation {
  color: var(--color-neutral-dark);
  display: flex;
  flex: 1;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-inline: calc(var(--space-s) * -1);
}

@media print {
  .banner__navigation {
    display: none;
  }
}
