.contentinfo {
  color: var(--color-neutral-darker);
  inline-size: 100vw;
  margin-block-start: auto;
}

.contentinfo__container {
  --container-padding-inline: calc(var(--gap) - var(--space-s));
  align-items: center;
  display: flex;
  flex-flow: row-reverse wrap;
  justify-content: space-around;
  padding-block: var(--gap);
}

.contentinfo__legal {
  font-size: 100%;
  padding-block: var(--space-2xs);
  padding-inline: var(--space-s);
}

@media (--from-medium-viewport) {
  .contentinfo__legal {
    margin-inline-start: calc(var(--space-s) * -1);
  }

  .contentinfo .navigation--social {
    margin-inline-start: auto;
  }
}

.contentinfo a:hover {
  color: var(--color-link);
}

@media print {
  .contentinfo__container {
    flex-flow: row;
    justify-content: start;
  }

  .contentinfo__legal {
    padding: 0;
  }
}
