.facepile {
  --anchor-decoration: none;
  --avatar-size: var(--space-m);
  align-items: center;
  display: inline-flex;
  padding-block: var(--space-s);
}

.facepile .avatar {
  border: var(--border-width-rule) solid var(--color-background);
  margin-inline-end: calc(var(--space-xs) * -1);
  transition: 0.15s ease-in;
  transition-property: margin;
}

[open] .facepile .avatar,
.facepile:hover .avatar {
  margin-inline-end: 0;
}

.facepile__title {
  margin-inline-end: var(--space-xs);
  white-space: nowrap;
}

.facepile__title:hover {
  color: var(--color-accent);
  text-decoration-color: var(--color-accent);
}

.facepile__main {
  align-items: center;
  display: flex;
}

.facepile__counter {
  align-items: center;
  background-color: var(--color-offset);
  block-size: var(--avatar-size);
  border: var(--border-width-rule) solid var(--color-background);
  border-radius: var(--avatar-size);
  display: inline-flex;
  justify-content: center;
  padding-inline: var(--space-xs);
}
