.header {
  max-inline-size: var(--line-measure);
}

.footer + .header {
  margin-block-end: var(--space-m-l);
  margin-block-start: 0;
}

.header > * + * {
  margin-block-start: var(--space-s);
}

.header__title {
  font-size: var(--font-size-3xl);
  line-height: var(--line-height-tight);
}

.header__title svg {
  margin-block-end: -0.15em;
}

.header__summary {
  color: var(--color-neutral-dark);
  font-size: var(--font-size-l);
  line-height: var(--line-height-loose);
  max-inline-size: var(--line-measure);
}

.header__url {
  color: var(--color-accent);
}
