.items {
  --item-grid-template:
    "header" auto
    "main" auto
    "footer" 1fr /
    1fr;
  display: grid;
  grid-gap: var(--gap);
  grid-template-columns: repeat(auto-fit, minmax(var(--grid-size), 1fr));
}

@media (--from-medium-viewport) {
  .items--inline {
    --item-grid-template:
      "footer header" auto
      "footer main" 1fr /
      var(--logo-inline-size) 1fr;
  }
}

@media (--upto-medium-viewport) {
  .items--photos {
    --gap: var(--border-width-rule);
    grid-template-columns: repeat(auto-fit, minmax(calc(33% - calc(var(--border-width-rule) * 2)), 1fr));
    margin-inline: calc(var(--space-s-m) * -1);
  }
}

.items--photos img {
  aspect-ratio: 1;
  object-fit: cover;
}

.items--inline > * + * {
  margin-block-start: var(--space-m);
}

.items__item {
  display: flex;
}
