.items {
  --item-grid-template:
    "header" auto
    "main" auto
    "footer" 1fr /
    1fr;
}

@media (--from-medium-viewport) {
  .items--inline {
    --item-grid-template:
      "footer header" auto
      "footer main" 1fr /
      var(--logo-inline-size) 1fr;
  }
}

@media (--upto-medium-viewport) {
  .items--photos {
    --border-radius: 0;
    --gap: var(--border-width-thick);
    grid-template-columns: repeat(auto-fit, minmax(calc(33% - calc(var(--border-width-thick) * 2)), 1fr));
    margin-inline: calc(var(--font-size-xl) * -1);
  }
}

.items--photos img {
  aspect-ratio: 1;
  object-fit: cover;
}

.items--inline > * + * {
  margin-block-start: var(--font-size-m);
}

.items__item {
  display: flex;
}
