.meta {
  align-items: baseline;
  color: var(--color-neutral-dark);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  line-height: var(--line-height-loose);
  max-inline-size: var(--line-measure);

  & a {
    color: var(--color-link);
    text-decoration: none;
    white-space: nowrap;
  }

  & div {
    padding-block-end: var(--space-2xs);
  }

  & dt,
  & dd {
    display: inline;
  }
}
