.meta {
  align-items: baseline;
  color: var(--color-neutral-dark);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  line-height: var(--line-height-loose);
  max-inline-size: var(--line-measure);
}

.meta a {
  color: var(--color-accent);
  text-decoration: none;
  white-space: nowrap;
}

.meta div {
  padding-block-end: var(--space-2xs);
}

.meta dt,
.meta dd {
  display: inline;
}
