.slide {
  align-items: start;
  max-inline-size: 100vw !important;
}

@media (--from-large-viewport) {
  .slide {
    display: grid;
    grid-column-gap: var(--gap);
    grid-template-columns: 2fr 3fr;
  }

  .slide__caption {
    border-block-start: var(--border-rule);
    margin-block-start: 0;
    padding-block-start: var(--space-s);
  }
}
