.slide {
  align-items: start;
  column-gap: var(--gap);
  display: flex;
  flex-wrap: wrap;
  max-inline-size: unset;

  & img {
    flex-grow: 1;
    inline-size: 30rem;
    margin-block-end: calc(var(--border-width-rule) * -1);
    position: relative;
  }

  & figcaption {
    border-block-start: var(--border-rule);
    flex-basis: 0;
    flex-grow: 999;
    min-inline-size: 40%;
  }
}
