.trips {
  white-space: nowrap;

  & tbody th,
  & tbody td {
    border-block-start-width: var(--border-width-rule);
  }

  & * th:first-child {
    inline-size: calc(var(--logo-inline-size) + var(--gap));
  }

  & svg {
    color: var(--color-neutral-dark);
    margin-block-end: -0.15em;
  }
}
