.banner {
  inline-size: 100vw;
}

.banner__container {
  @extend %container;

  align-items: baseline;
  display: flex;
  flex-wrap: wrap;
  padding-block: var(--step-4);
  position: relative;
}

.banner__skip {
  background-color: var(--color-focus);
  display: block;
  inset-block-start: 0;
  inset-inline-start: calc(var(--gap) - var(--inset-small));
  outline-offset: 0;
  padding: var(--inset-small-squished);
  position: absolute;
  transform: translateY(0);
}

.banner__skip:not(:focus) {
  @extend .visually-hidden;

  transform: translateY(-100%);
  transition: transform 0.5s ease-out;
}

.banner__title {
  color: var(--color-text);
  flex: 0;
  font-weight: 500;
  margin-inline-end: var(--gap);
  min-inline-size: var(--logo-inline-size);
  white-space: nowrap;
}

.banner__title a {
  color: var(--color-text);
  display: inline-flex;
  margin-inline-start: calc(var(--inset-small) * -1);
  padding: var(--inset-small-squished);
}

.banner__title a:hover {
  text-decoration: var(--color-rule) underline;
}

.banner__navigation {
  color: var(--color-neutral-dark);
  display: flex;
  flex: 1;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-inline: calc(var(--inset-small) * -1);
}

@media print {
  .banner__navigation {
    display: none;
  }
}
