.card {
  --anchor-decoration: none;
  --color-accent: var(--color-accent-light);
  --card-growth: var(--step-0);
  --card-shadow: var(--color-alpha-highest);

  background: var(--color-offset);
  display: flex;
  flex: 1;
  flex-direction: column;
  overflow: hidden;
  position: relative;
  transition-duration: var(--transition-short);
  transition-property: background-color, box-shadow, margin, padding;
}

@media (prefers-color-scheme: dark) {
  .card {
    --color-accent: var(--color-accent-dark);
    --card-shadow: black;
  }
}

.card:hover {
  background-color: var(--color-background);
  box-shadow:
    0 0 0 1px var(--color-rule),
    0 0 4vw var(--card-shadow);
}

@media (--from-small-viewport) {
  .card:hover {
    margin: calc(var(--card-growth) * -1);
    padding: var(--card-growth);
  }

  .card__image {
    margin: calc(var(--card-growth) * -1);
  }

  .card__image:not(:last-child) {
    margin-block-end: 0;
  }
}

.card__header {
  padding: var(--inset);
  padding-block-end: 0;
}

.card__title {
  @extend %subhead;
  --subhead-font-size: var(--step-1);
}

.card__title a::before {
  content: "";
  inset: 0;
  position: absolute;
  z-index: 2;
}

.card__main {
  @extend %body;

  color: var(--color-neutral-dark);
  padding: var(--inset);
}

.card__footer {
  @extend %caption;

  margin-block-start: auto;
  padding: var(--inset);
}

.card svg {
  color: white;
  inset-block-end: var(--space-inline);
  inset-inline-end: var(--space-inline);
  position: absolute;
}
