.card {
  --anchor-decoration: none;
  --color-accent: var(--color-accent-light);
  --card-growth: var(--space-block-xsmall);
  --card-shadow: var(--color-alpha-highest);

  background: var(--color-offset);
  display: grid;
  grid-template:
    "image" auto
    "header" auto
    "main" 1fr
    "footer" auto;
  overflow: hidden;
  position: relative;
  transition-duration: 0.15s;
  transition-property: background, box-shadow, margin, padding;
}

@media (prefers-color-scheme: dark) {
  .card {
    --color-accent: var(--color-accent-dark);
    --card-shadow: black;
  }
}

.card:hover {
  background-color: var(--color-background);
  box-shadow:
    0 0 0 1px var(--color-rule),
    0 0 4vw var(--card-shadow);
}

@media (--from-medium-viewport) {
  .card:hover {
    margin: calc(var(--card-growth) * -1);
    padding: var(--card-growth);
  }
}

.card__image {
  grid-area: image;
  margin: calc(var(--card-growth) * -1);
  position: relative;
}

.card:not([data-type="photo"]) .card__image {
  margin-block-end: 0;
}

.card__image img {
  block-size: 100%;
  inline-size: 100%;
  object-fit: cover;
}

.card__header {
  grid-area: header;
  padding: var(--inset);
  padding-block-end: 0;
}

.card__title {
  @extend %subhead;
}

.card__title a::before {
  content: "";
  inset: 0;
  position: absolute;
  z-index: 2;
}

.card__main {
  @extend %reference;

  --flow-space: 0;
  grid-area: main;
  padding: var(--inset);
}

.card__footer {
  @extend %caption;

  grid-area: footer;
  margin-block-start: auto;
  padding: var(--inset);
}

.card__icon {
  background: url("/assets/vectors/multi-photo.svg") no-repeat;
  block-size: var(--size-icon);
  content: "";
  display: block;
  inline-size: var(--size-icon);
  inset-block-end: calc(var(--space-block-xsmall) * 2);
  inset-inline-end: calc(var(--space-block-xsmall) * 2);
  position: absolute;
}
