.categories {
  @extend %reference;
  color: var(--color-accent);
}

.categories li {
  display: inline-block;
}

.categories [rel="tag"] {
  display: block;
  padding: var(--inset-small);
  padding-inline-start: 0;
  position: relative;
  text-decoration: none;
}

.categories [rel="tag"]::before {
  background-color: var(--color-background);
  content: "";
  display: block;
  inline-size: 1.25ex;
  inset-block-end: 0;
  inset-block-start: 0;
  opacity: 0.5;
  position: absolute;
}
