.contentinfo {
  inline-size: 100vw;
  margin-block-start: auto;
}

.contentinfo__container {
  @extend %container;
  @extend %caption;

  --container-padding-inline: calc(var(--gap) - var(--inset));
  align-items: center;
  display: flex;
  flex-flow: row-reverse wrap;
  justify-content: space-around;
  padding-block: var(--gap);
}

.contentinfo__legal {
  padding: var(--inset);
  padding-inline-start: 0;
}

@media (--from-small-viewport) {
  .contentinfo .navigation--elsewhere {
    margin-inline-start: auto;
  }
}

.contentinfo a:hover {
  color: var(--color-accent);
}

@media print {
  .contentinfo__container {
    flex-flow: row;
    justify-content: start;
  }

  .contentinfo__legal {
    padding: 0;
  }

  .contentinfo .navigation {
    display: none;
  }
}
