.content {
  margin-block-start: var(--space-block-large));
}

[data-type="entry-untitled"] .content {
  --flow-space: 0.5em;
  --font-size-body: var(--font-size-lede);
  --line-height-body: var(--line-height-tight);
}
