.embed {
  align-items: center;
  background-color: var(--color-offset);
  display: flex;
  justify-content: center;
}

.embed::after {
  -webkit-backdrop-filter: blur(2px);
  backdrop-filter: blur(2px);
  block-size: 100%;
  content: "";
  display: block;
  inline-size: 100%;
  position: absolute;
}

.embed iframe {
  z-index: 1;
}

.embed__button {
  background-color: var(--color-alpha-low);
  block-size: 2em;
  border-radius: 100%;
  box-shadow: 0 0 0 1px hsl(0 100% 100% / 25%);
  color: white;
  cursor: pointer;
  font-size: var(--step-5);
  inline-size: 2em;
  margin: 0;
  position: relative;
  text-indent: 0.25em;
  transition-duration: var(--transition-short);
  transition-property: all;
  z-index: 1;
}

.embed__button:hover {
  background-color: var(--color-alpha-lowest);
}

.embed__button:focus {
  background-color: var(--color-focus);
  border: var(--border-width-thicker) solid white;
  outline: 0;
}
