.embed {
  background-color: var(--color-offset);
  overflow: hidden;
  position: relative;
}

.embed::before {
  content: "";
  display: block;
  padding-block-end: 56.25%;
}

@supports (--custom:property) {
  .embed::before {
    padding-block-end: calc(var(--aspect-ratio) * 100%);
  }
}

.embed iframe {
  block-size: 100%;
  border: none;
  display: block;
  inline-size: 100%;
  inset-block-start: 0;
  position: absolute;
  z-index: 1;
}
