.footer {
  @extend %caption;

  align-items: baseline;
  display: flex;
  padding-block-end: var(--space-block-xsmall);
}

[data-type="note"] .c-footer,
[data-type="photo"] .c-footer {
  margin-block-start: auto;
}

.footer a {
  text-decoration: none;
}

.footer cite {
  font-style: normal;
}

.footer dd:not(:first-of-type) {
  --flow-inset: 0.5ch;
}

.footer dt,
.footer dd {
  --flow-space: 0;
  display: inline;
  white-space: nowrap;
}

.footer *:not(:first-child) + dt::before {
  content: "·";
  display: inline;
  opacity: 0.5;
  padding-inline: calc(var(--space-inline) / 2);
}
