.form__header {
  margin-block-end: var(--step-0);
}

.form__title {
  @extend %body;
  color: var(--color-neutral-dark);
}

.form__field {
  align-items: stretch;
  display: flex;
  flex-wrap: wrap;
}

.form__label {
  flex: 1 0 25%;
  min-inline-size: 8em;
  padding-block: var(--inset);
}

/* Input */
.form__input {
  background-color: var(--color-background);
  border: var(--border-width-thick) solid var(--color-neutral-lighter);
  flex: 1 0 75%;
  inline-size: 100%;
  margin-block-start: 0;
  padding: var(--inset);
}

.form__input:focus {
  border-color: var(--color-neutral-darker);
  outline: var(--border-width-thicker) solid var(--color-focus);
}

textarea.form__input {
  block-size: 12em;
}

/* Button */
.form__button {
  background-color: var(--color-text);
  color: var(--color-neutral-lightest);
  font-weight: 500;
  padding: var(--inset-large-squished);
}

.form__button:hover {
  background-color: var(--color-accent);
}

/* Combobox */
.form__combobox {
  flex: 1;
  position: relative;
}

/* Listbox */
.form__listbox {
  background-color: var(--color-background);
  border: var(--border-width-thick) solid var(--color-neutral-darker);
  margin-block-start: calc(var(--border-width-thick) * -1);
  max-block-size: 60vh;
  overflow-y: scroll;
}

.form__listbox [aria-selected="true"] {
  background-color: var(--color-accent);
  color: white;
}

.form__listbox :focus {
  outline: 0;
}

/* Option */
.form__option {
  --anchor-decoration: none;
  align-items: baseline;
  border-block-end: var(--border-width-thin) solid var(--color-outline);
  display: flex;
  padding: var(--inset);
}

.form__option:hover {
  background-color: var(--color-offset);
}

.form__option-title {
  flex: 1;
}

.form__option-summary {
  @extend %caption;
  color: inherit;
  flex: 0;
  opacity: 0.75;
}
