.header {
  max-inline-size: var(--line-measure);
}

.footer + .header {
  margin-block-start: 0;
  margin-block-end: var(--step-5);
}

.header > * + * {
  margin-block-start: var(--step-0);
}

.header__title {
  @extend %title;
}

.header__summary {
  @extend %lede;
  color: var(--color-neutral-darker);
}

.header__url {
  @extend %body;

  color: var(--color-accent);
}
