.item {
  align-items: baseline;
  border-block-start: var(--border-width-thick) solid var(--color-rule);
  display: grid;
  flex: 1;
  grid-column-gap: var(--gap);
  grid-row-gap: var(--space-block);
  grid-template: var(--item-grid-template);
  padding-block-start: var(--space-block);
  position: relative;
}

/* Header */
.item__header {
  grid-area: header;
}

.item__title {
  @extend %subhead;
  --anchor-decoration: none;
}

.item__title .avatar {
  inset-block-start: var(--space-block);
  inset-inline-start: 0;
  position: absolute;
}

/* Main */
.item__main {
  @extend %body;

  --flow-space: 0.5em;
  grid-column: main;
}

.item__header + .item__main {
  color: var(--color-neutral-darker);
}

.item__main img {
  max-inline-size: 25rem;
}

/* Footer */
.item__footer {
  @extend %caption;
  --anchor-decoration: none;
  grid-area: footer;
}

/* Remark item adaptions */
.items--remarks .item {
  padding-inline-start: calc(3rem + var(--space-inline)); /* Avatar width */
}

.items--remarks .item__main {
  --body-font-size: var(--step-0);
  --body-line-height: var(--line-height-prose);
  color: var(--color-text);
}

/* Testimonial item adaptions */
.item--testimonial {
  border-block-start: none;
  padding-block-start: 0;
}

.item--testimonial .item__main blockquote {
  border-inline-start: 0;
  padding-inline-start: 0;
}

/* Place item adaptions */
.item--place .item__header {
  --subhead-font-size: var(--step-1);

  flex: 1;
}

.item--place .item__title svg {
  margin-block-end: -0.15em;
}

@media (--from-large-viewport) {
  .item--place {
    align-items: baseline;
    display: flex;
    flex-wrap: wrap;
  }

  .item--place svg {
    margin-inline-start: -1.25em;
  }
}
