.item {
  --footer-inline-size: 8rem;
  align-items: start;
  display: grid;
  grid-template:
    "image" auto
    "header" auto
    "main" auto
    "footer" 1fr /
    minmax(auto, 45rem);
  position: relative;
}

.item--inline {
  align-items: baseline;
  border-block-start: var(--border-width-thin) solid var(--color-rule);
  grid-template:
    "header image" auto
    "main image" 1fr
    "footer footer" auto /
    1fr min-content;
  padding-block-start: var(--space-block-xsmall);
}

@media (--from-small-viewport) {
  .item--inline {
    grid-template:
      "footer header image" auto
      "footer main image" 1fr /
      auto 1fr auto;
  }
}

/* Header */
.item__header {
  grid-area: header;
}

.item__title {
  @extend %subhead;
  align-items: center;
  margin-block-end: var(--space-block-xsmall);
}

.item__title-icon {
  margin-inline-start: var(--space-inline-xsmall);
  opacity: 0.5;
}

/* Image */
.item__image {
  align-self: start;
  display: block;
  grid-area: footer;
  margin-inline-end: var(--space-inline);
  max-inline-size: calc(var(--footer-inline-size) - var(--space-inline));
}

/* Main */
.item__main {
  @extend %reference;

  --section-space: var(--space-block-xsmall);
  grid-area: main;
}

[data-type="testimonial"] .item__main {
  font-size: var(--font-size-body);
}

@media (--from-medium-viewport) {
  .item--inline[data-type="bookmark"] .item__main,
  .item--inline[data-type="event"] .item__main,
  .item--inline[data-type="venue"] .item__main {
    @extend %caption;

    grid-area: image;
    justify-content: end;
    max-inline-size: 16rem;
    text-align: end;
  }

  .item--inline[data-type="photo"] .item__main img {
    max-inline-size: 21rem;
  }
}

.item__footer {
  @extend %caption;

  --anchor-decoration: none;
  grid-area: footer;
  min-inline-size: var(--footer-inline-size);
}

.item--inline .item__footer span:first-child {
  margin-inline-end: var(--space-inline-small);
}

@media (--from-small-viewport) {
  .item--inline .item__footer span {
    display: block;
  }
}
