.item {
  --footer-inline-size: 7rem;
  align-items: start;
  display: grid;
  grid-template:
    "meta" auto
    "header" auto
    "main" auto
    "footer" 1fr /
    minmax(auto, 45rem);
  position: relative;
}

.item--inline {
  align-items: baseline;
  border-block-start: var(--border-width-thin) solid var(--color-rule);
  grid-template:
    "header meta" auto
    "main meta" 1fr
    "footer footer" auto /
    1fr min-content;
  padding-block-start: var(--space-block-xsmall);
}

@media (--from-small-viewport) {
  .item--inline {
    grid-template:
      "footer header meta" auto
      "footer main meta" 1fr /
      auto 1fr auto;
  }
}

/* Header */
.item__header {
  grid-area: header;
}

.item--inline .item__header {
  padding-inline-end: var(--space-inline-small);
}

.item__title {
  @extend %subhead;
  align-items: center;
  margin-block-end: var(--space-block-xsmall);
}

.item__title-icon {
  margin-inline-start: var(--space-inline-xsmall);
  opacity: 0.5;
}

/* Image */
.item__image {
  align-self: start;
  display: block;
  grid-area: footer;
  margin-inline-end: var(--space-inline);
  max-inline-size: calc(var(--footer-inline-size) - var(--space-inline));
}

/* Main */
.item__main {
  @extend %reference;

  --section-space: var(--space-block-xsmall);
  grid-area: main;
}

.item--testimonial .item__main {
  font-size: var(--font-size-body);
}

@media (--from-medium-viewport) {
  .item--inline .item__main img {
    max-inline-size: 21rem;
  }
}

/* Footer */
.item__footer {
  @extend %caption;
  --anchor-decoration: none;
  grid-area: footer;
}

@media (--from-small-viewport) {
  .item--inline .item__footer {
    inline-size: var(--footer-inline-size);
  }
}
