.item {
  align-items: baseline;
  border-block-start: var(--border-width-thick) solid var(--color-rule);
  display: grid;
  flex: 1;
  grid-template: var(--item-grid-template);
  grid-auto-flow: column;
  position: relative;
  grid-column-gap: var(--column-gap);
  grid-row-gap: var(--space-block);
  padding-block-start: var(--space-block);
}

/* Header */
.item__header {
  grid-area: header;
}

.item__title {
  @extend %subhead;
  --anchor-decoration: none;
  --subhead-font-size: var(--item-title-font-size);
}

.item__title-icon {
  margin-inline-start: 0.25ch;
  opacity: 0.5;
}

/* Main */
.item__main {
  @extend %body;

  --flow-space: 0.5em;
  grid-column: main;
}

.item__header + .item__main {
  --body-line-height: var(--line-height-tight);
  color: var(--color-neutral-darker);
}

.item__main img {
  max-inline-size: 25rem;
}

.item--testimonial {
  border-block-start: none;
  padding-block-start: 0;
}

.item--testimonial .item__main blockquote {
  border-inline-start: 0;
  padding-inline-start: 0;
}

/* Footer */
.item__footer {
  @extend %caption;
  --anchor-decoration: none;
  color: var(--color-neutral);
  font-variant-numeric: tabular-nums diagonal-fractions;
  grid-area: footer;
  padding-block-start: var(--space-block);
}
