.main {
  --anchor-decoration: underline;

  background: linear-gradient(to right, var(--color-background) 0, var(--color-background) 50vw, transparent 50vw, transparent);
  display: flex;
  flex: 1;
  inline-size: 100vw;
}

.main__container {
  @extend %container;

  align-content: start;
  background-color: var(--color-background);
  grid-template-columns:
    [container-start] auto
    [content-start] 1fr [content-end]
    auto [container-end];
  padding-block: var(--gap) calc(var(--gap) * 2);
}

@media (--from-medium-viewport) {
  .main__container {
    display: grid;
  }
}

.main__container > * {
  grid-column: content;
}

.main__container > * + * {
  margin-block-start: calc(var(--gap) * 2);
}

.main__title {
  @extend %title;
  --title-font-size: var(--step-4);

  grid-area: title;
  grid-column: content-end;
  grid-row: 1;
  margin-block-end: var(--gap);
}

@media (--from-medium-viewport) {
  .main__title {
    block-size: 1px; /* Force stickiness */
    inset-block-start: var(--step-0);
    padding-inline-start: var(--gap);
    position: sticky;
    writing-mode: vertical-rl;
  }

  .main__title + .main__introduction,
  .main__title + .items,
  .main__title + .form {
    margin-block-start: 0;
  }
}

.main__introduction {
  @extend %lede;
  color: var(--color-neutral-darker);
}
