.main {
  --anchor-decoration: underline;

  background: linear-gradient(to right, var(--color-background) 0, var(--color-background) 50vw, transparent 50vw, transparent);
  display: flex;
  flex: 1;
  inline-size: 100vw;
}

.main__container {
  @extend %container;

  align-content: start;
  background-color: var(--color-background);
  flex: 1;
  grid-template-columns:
    [container-start] auto
    [content-start] 1fr [content-end]
    var(--sticky-title-block-size) [container-end];
  padding-block: var(--space-block-medium);
}

@media (--from-small-viewport) {
  .main__container {
    display: grid;
  }
}

.main__container > * {
  grid-column: content;
}

.main__title {
  @extend %title;

  --font-weight-title: normal;
  grid-area: title;
  grid-column: content-end;
  grid-row: 1;
  margin-block-end: var(--grid-column-gap);
}

@media (--from-small-viewport) {
  .main__title {
    block-size: 1px; /* Force stickiness */
    inset-block-start: var(--space-block-small);
    padding-inline-start: var(--grid-column-gap);
    position: sticky;
    writing-mode: vertical-rl;
  }
}

.main__introduction {
  @extend %lede;

  --flow-space: calc(var(--line-height-lede) / 2);
  --line-height-lede: var(--line-height-tight);
  margin-block-end: var(--space-block-small);
  max-inline-size: var(--line-measure);
}

.main a {
  @extend %text-decoration;
}
