.remark {
  align-items: start;
  border-block-start: var(--border-width-thin) solid var(--color-rule);
  display: grid;
  grid-column-gap: var(--space-inline);
  grid-template:
    "image header" auto
    "image main" 1fr /
    auto 1fr;
  padding-block-start: var(--space-block-xsmall);
}

/* Image */
.remark__image {
  grid-area: image;
}

/* Header */
.remark__header {
  align-items: baseline;
  display: flex;
  flex-flow: row wrap;
  grid-area: header;
}

.remark__title {
  @extend %subhead;
  align-items: center;
  margin-block-end: var(--space-block-xsmall);
  margin-inline-end: var(--space-inline);
}

/* Main */
.remark__main {
  @extend %reference;
  grid-area: main;
  max-inline-size: var(--line-measure);
}

.remark__meta {
  @extend %caption;
  --anchor-decoration: none;
}
