.screenshots {
  align-items: center;
  background: var(--screenshot-offset, var(--color-offset)) url("/assets/vectors/noise.svg") repeat;
  background-size: 400px;
  display: grid;
  grid-gap: var(--gap);
  grid-template-columns: 1fr;
  overflow: hidden;
  padding: calc(var(--gap) * 1.5) var(--gap);
}

.screenshots img {
  box-shadow: 1.5vw 2vw 4vw 1vw var(--screenshot-shadow, var(--color-rule));
  margin: 0 auto;
  outline-offset: 0;
}

@media (prefers-color-scheme: dark) {
  .screenshots img {
    filter: initial;
  }
}

@media (--from-medium-viewport) {
  .screenshots {
    grid-template-columns: repeat(var(--columns), 1fr);
  }
}

@media print {
  .screenshots {
    background: none;
    padding: 0;
  }

  .screenshots img {
    box-shadow: none;
  }
}
