.screenshots {
  align-items: center;
  background: var(--screenshot-offset, var(--color-offset)) url("/assets/vectors/noise.svg") repeat;
  background-size: 400px;
  display: grid;
  grid-column-gap: var(--grid-column-gap);
  grid-template-columns: 1fr;
  overflow: hidden;
  padding: calc(var(--grid-row-gap) / 2) var(--grid-column-gap);
}

.screenshots img {
  box-shadow:
    0.25vw 0.5vw 0.5vw var(--color-alpha-highest),
    1.5vw 2vw 4vw 1vw var(--screenshot-shadow, var(--color-rule));
  margin: var(--grid-row-gap) auto;
}

@media (--from-medium-viewport) {
  .screenshots {
    grid-template-columns: repeat(var(--columns), 1fr);
  }
}

@media print {
  .screenshots {
    background: none;
    padding: 0;
  }

  .screenshots img {
    box-shadow: none;
  }
}
