.section {
  display: grid;
  grid-column: container;
  grid-column-gap: var(--gap);
  grid-template-columns:
    [container-start] auto
    [content-start] 1fr [content-end]
    var(--sticky-title-block-size) [container-end];
  margin-inline: calc(var(--gap) * -1);
}

.section[aria-labelledby="testimonials"] {
  @extend %wallpaper;
}

.section__container {
  grid-column: content;
}

.section__header {
  padding-block-end: var(--step-0);
}

.section__title {
  @extend %body;
  color: var(--color-neutral-dark);
}

@media (--upto-medium-viewport) {
  .section__main--scrollable .items {
    display: flex;
    gap: 0;
    inline-size: 100vw;
    margin: calc(var(--gap) * -1);
    -webkit-overflow-scrolling: touch;
    overflow-x: scroll;
    padding: var(--gap);
  }

  .section__main--scrollable .items::after {
    content: "";
    display: block;
    flex: 1 0 1px; /* Force end padding */
  }

  .section__main--scrollable .items__item {
    flex: 1 0 75vw;
    margin-inline-end: var(--gap);
    max-inline-size: var(--grid-size);
  }
}
