.slide {
  align-items: start;
  max-inline-size: 100vw !important;
}

.slide__caption {
  margin-block-start: 0;
  padding-block-start: var(--flow-space);
}

.slide__caption :--flow {
  @extend %caption;
  --caption-line-height: var(--line-height-prose);

  color: var(--color-text);
}

@media (--from-large-viewport) {
  .slide {
    display: grid;
    grid-column-gap: var(--gap);
    grid-template-columns: 2fr 3fr;
  }

  .slide__caption {
    border-block-start: var(--border-width-thick) solid var(--color-rule);
  }
}
