.traverse {
  --anchor-decoration: none;
  border-block-start: var(--border-width-thin) solid var(--color-rule);
  display: flex;
}

.traverse a {
  display: block;
  padding: var(--inset-large-squished);
}

.traverse a[rel~="next"] {
  margin-inline: auto calc(var(--inset-large) * -1);
}

.traverse a[rel~="prev"] {
  margin-inline: calc(var(--inset-large) * -1) auto;
}
