.trips {
  white-space: nowrap;
}

.trips tbody th,
.trips tbody td {
  border-block-start-width: var(--border-width-thick);
}

.trips * th:first-child {
  inline-size: calc(var(--logo-inline-size) + var(--gap));
}

.trips svg {
  color: var(--color-neutral-dark);
  margin-block-end: -0.15em;
}
