<article class="card | h-entry">
  <a class="card__image | u-url" rel="bookmark" href="{{ item.url }}">
    {%- render 'image' with item.data.photo[0].url
      alt: item.data.photo[0].alt
      class: 'u-photo'
      ratio: 1.0
      sizes: itemsGridSize
      preset: 'supporting'
    -%}
    {%- if item.data.photo.size > 1 -%}
      <svg width="20" height="20" role="img" aria-labelledby="photos-title" focusable="false">
        <title id="photos-title">{{ item.data.photo.size }} photos in this post</title>
        <use href="/assets/vectors/app.svg#photos"></use>
      </svg>
    {%- endif -%}
  </a>
</article>
