<article class="card | h-entry">
  <a class="card__image | u-url" rel="bookmark" href="{{ item.url }}">
    {%- render 'image' with item.data.photo[0].url
      alt: item.data.photo[0].alt
      class: 'u-photo'
      ratio: 1.0
      sizes: items_grid_size
      preset: 'supporting'
    -%}
    {%- if item.data.photo.size > 1 -%}
      <span class="card__icon"><span class="visually-hidden">{{ item.data.photo.size }} photos in this post</span></span>
    {%- endif -%}
  </a>
</article>
