<article class="item item--place | h-card">
  <header class="item__header">
    <h3 class="item__title | p-name">
      <a href="{{ item.url }}">
        {% if item.data.place.icon %}{% icon item.data.place.icon %}{% endif %}
        {{ item.data.title | markdown: 'inline' }}
      </a>
    </h3>
  </header>

  <p class="item__main s-linear | h-adr">
    <span class="p-locality">{{ item.data.place.address.locality }}</span>,
    <span class="p-country-name">{{ item.data.place.address.country-name }}</span>
  </p>
</article>
