:root {
  /* Neutral palette */
  --tint: 228 6%;
  --color-neutral-darkest: hsl(var(--tint) 16%);
  --color-neutral-darker: hsl(var(--tint) 36%);
  --color-neutral-dark: hsl(var(--tint) 44%);
  --color-neutral: hsl(var(--tint) 50%);
  --color-neutral-light: hsl(var(--tint) 80%);
  --color-neutral-lighter: hsl(var(--tint) 88%);
  --color-neutral-lightest: hsl(var(--tint) 96%);

  /* Colour assignments */
  --color-accent: var(--color-accent-light);
  --color-complement: hsl(320deg 100% 44%);
  --color-background: white;
  --color-offset: var(--color-neutral-lightest);
  --color-outline: hsl(var(--tint) 16% / 20%);
  --color-shadow: hsl(var(--tint) 16% / 10%);
  --color-rule: var(--color-neutral-lightest);

  --color-text: var(--color-neutral-darkest);
  --color-text-focus: hsl(var(--tint) 16%); /* Ignore color-scheme */
  --color-link: var(--color-accent);
  --color-link-underline: var(--color-neutral-light);

  --color-delete: hsl(0deg 100% 80% / 75%);
  --color-highlight: hsl(48deg 100% 80% / 75%);
  --color-insert: hsl(120deg 100% 80% / 75%);
  --color-focus: hsl(48deg 100% 50%);

  /* Typography */
  --font-family-sans: "Söhne", sans-serif;
  --font-family-monospace: "Söhne Mono", monospace;
  --line-height-tight: 1.25;
  --line-height-loose: 1.5;
  --line-height-prose: 1.75;
  --line-measure: 42.5rem;
  --word-spacing: 0;
  --text-spacing: 0 0.25em 0.125em 0.25em;

  /* Fluid type scale */
  /* @link https://utopia.fyi/type/calculator?c=400,15,1.125,1200,16,1.25,5,0,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l */
  --font-size-s: clamp(0.94rem, calc(0.91rem + 0.13vw), 1.00rem);
  --font-size-m: clamp(1.06rem, calc(0.96rem + 0.39vw), 1.25rem);
  --font-size-l: clamp(1.19rem, calc(1.00rem + 0.75vw), 1.56rem);
  --font-size-xl: clamp(1.34rem, calc(1.03rem + 1.24vw), 1.95rem);
  --font-size-2xl: clamp(1.50rem, calc(1.03rem + 1.88vw), 2.44rem);
  --font-size-3xl: clamp(1.69rem, calc(1.01rem + 2.72vw), 3.05rem);

  /* Fluid size scale */
  /* @link https://utopia.fyi/space/calculator?c=400,15,1.2,1200,16,1.25,5,2,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l */
  --space-3xs: clamp(0.25rem, calc(0.25rem + 0.00vw), 0.25rem);
  --space-2xs: clamp(0.50rem, calc(0.50rem + 0.00vw), 0.50rem);
  --space-xs: clamp(0.69rem, calc(0.66rem + 0.13vw), 0.75rem);
  --space-s: clamp(0.94rem, calc(0.91rem + 0.13vw), 1.00rem);
  --space-m: clamp(1.44rem, calc(1.41rem + 0.13vw), 1.50rem);
  --space-l: clamp(1.88rem, calc(1.81rem + 0.25vw), 2.00rem);
  --space-xl: clamp(2.81rem, calc(2.72rem + 0.38vw), 3.00rem);
  --space-2xl: clamp(3.75rem, calc(3.63rem + 0.50vw), 4.00rem);
  --space-3xl: clamp(5.63rem, calc(5.44rem + 0.75vw), 6.00rem);

  /* Borders */
  --border-width-thin: 1px;
  --border-width-thick: 2px;
  --border-width-thicker: 3px;
  --border-radius: 4px;

  /* Spacing */
  --space-block: 0.5rem;
  --space-inline: 0.75rem;

  /* Inset spacing */
  --inset-small: var(--space-inline);
  --inset-small-squished: calc(var(--inset-small) / 2) var(--inset-small);
  --inset-large: calc(var(--inset-small) * 2);
  --inset-large-squished: calc(var(--inset-large) / 2) var(--inset-large);

  /* Grids */
  --gap: var(--font-size-xl);

  /* Animation */
  --transition-short: 0.15s;

  /* Container values */
  --container-inline-size: 100vw;
  --container-max-inline-size: 80rem;
  --container-inline-inset: calc(100vw - var(--container-inline-size));
  --container-gutter: calc(var(--container-inline-inset) / 2);

  /* Sticky title */
  --sticky-title-block-size: 0;

  /* Align items with logo */
  --logo-inline-size: 8rem;

  /* Indicate the presence of dark mode styles */
  color-scheme: light dark;
}

@media (--from-medium-viewport) {
  :root {
    --sticky-title-block-size: calc(var(--font-size-2xl) + var(--gap));
  }
}

@media (--from-large-viewport) {
  :root {
    --container-inline-size: 80vw;
  }
}

@media print {
  :root {
    --line-measure: 50rem;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-neutral-darkest: hsl(var(--tint) 96%);
    --color-neutral-darker: hsl(var(--tint) 88%);
    --color-neutral-dark: hsl(var(--tint) 80%);
    --color-neutral: hsl(var(--tint) 50%);
    --color-neutral-light: hsl(var(--tint) 44%);
    --color-neutral-lighter: hsl(var(--tint) 36%);
    --color-neutral-lightest: hsl(var(--tint) 16%);
    --color-accent: var(--color-accent-dark);
    --color-background: hsl(var(--tint) 8%);
    --color-shadow: black;
    --color-highlight: hsl(60deg 100% 70% / 15%);
    --line-height-tight: calc(1.25em + 0.5vw);
    --line-height-loose: calc(1.5em + 0.5vw);
    --line-height-prose: calc(1.75em + 0.5vw);
    --word-spacing: 0.05em;
  }
}
