:root {
  /* Neutral palette */
  --color-neutral: hsla(228, 8%, 50%, 1);
  --color-neutral-darkest: color-mod(var(--color-neutral) l(16%));
  --color-neutral-darker: color-mod(var(--color-neutral) l(36%));
  --color-neutral-dark: color-mod(var(--color-neutral) l(44%));
  --color-neutral-light: color-mod(var(--color-neutral) l(80%));
  --color-neutral-lighter: color-mod(var(--color-neutral) s(7%) l(88%));
  --color-neutral-lightest: color-mod(var(--color-neutral) s(2%) l(96%));

  /* Alpha palette */
  --color-alpha-highest: color-mod(var(--color-neutral-darkest) a(0.1));
  --color-alpha-high: color-mod(var(--color-neutral-darkest) a(0.33));
  --color-alpha-low: color-mod(var(--color-neutral-darkest) a(0.67));
  --color-alpha-lowest: color-mod(var(--color-neutral-darkest) a(0.9));

  /* Colour assignments */
  --color-accent: var(--color-accent-light);
  --color-background: white;
  --color-text: var(--color-neutral-darkest);
  --color-link: var(--color-accent);
  --color-link-underline: var(--color-alpha-high);
  --color-rule: var(--color-alpha-highest);
  --color-offset: var(--color-neutral-lightest);
  --color-delete: hsla(0, 100%, 80%, 0.75);
  --color-highlight: hsla(60, 100%, 80%, 0.75);
  --color-insert: hsla(120, 100%, 80%, 0.75);
  --color-focus: hsla(40, 100%, 50%, 1);

  /* Typography */
  --font-family-sans: "Untitled", sans-serif;
  --font-family-monospace: "Source Code Pro", monospace;
  --line-height-tight: 1.25;
  --line-height-loose: 1.414;
  --line-height-prose: 1.667;
  --line-measure: 42.5rem;
  --word-spacing: 0;

  /* Borders */
  --border-width-thin: 1px;
  --border-width-thick: 2px;
  --border-width-thicker: 3px;

  /* Sizing */
  --size-icon-small: 1rem;
  --size-icon-medium: 2rem;
  --size-icon-large: 3rem;

  /* Spacing */
  --space-block: 0.5rem;
  --space-inline: 0.75rem;

  /* Inset spacing */
  --inset: var(--space-inline);
  --inset-squished: calc(var(--inset) / 2) var(--inset);
  --inset-small: calc(var(--inset) / 2);
  --inset-small-squished: calc(var(--inset-small) / 2) var(--inset-small);
  --inset-large: calc(var(--inset) * 2);
  --inset-large-squished: calc(var(--inset-large) / 2) var(--inset-large);

  /* Grids */
  --gap: var(--step-3);

  /* Animation */
  --transition-short: 0.15s;

  /* Container values */
  --container-inline-size: 100vw;
  --container-max-inline-size: 80rem;
  --container-inline-inset: calc(100vw - var(--container-inline-size));
  --container-gutter: calc(var(--container-inline-inset) / 2);

  /* Sticky title */
  --sticky-title-block-size: 0;

  /* Align items with logo */
  --logo-inline-size: 9rem;

  /* Indicate the presence of dark mode styles */
  color-scheme: light dark;
}

@media (--from-medium-viewport) {
  :root {
    --sticky-title-block-size: calc(var(--step-4) + var(--gap));
  }
}

@media (--from-large-viewport) {
  :root {
    --container-inline-size: 80vw;
  }
}

@media print {
  :root {
    --line-measure: 50rem;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-neutral: hsla(228, 8%, 64%, 1);
    --color-neutral-darkest: color-mod(var(--color-neutral) s(2%) l(96%));
    --color-neutral-darker: color-mod(var(--color-neutral) s(7%) l(88%));
    --color-neutral-dark: color-mod(var(--color-neutral) l(80%));
    --color-neutral-light: color-mod(var(--color-neutral) l(40%));
    --color-neutral-lighter: color-mod(var(--color-neutral) l(32%));
    --color-neutral-lightest: color-mod(var(--color-neutral) l(16%));
    --color-alpha-highest: color-mod(var(--color-neutral-lightest) a(0.1));
    --color-alpha-high: color-mod(var(--color-neutral-lightest) a(0.33));
    --color-accent: var(--color-accent-dark);
    --color-background: color-mod(var(--color-neutral) l(8%));
    --color-link-underline: var(--color-alpha-high);
    --color-highlight: hsla(60, 100%, 70%, 0.15);
    --line-height-tight: calc(1.25em + 0.5vw);
    --line-height-loose: calc(1.414em + 0.5vw);
    --line-height-prose: calc(1.667em + 0.5vw);
    --word-spacing: 0.05em;
  }
}
