:root {
  /* Neutral palette */
  --tint: 228 6%;
  --color-neutral-darkest: hsl(var(--tint) 16%);
  --color-neutral-darker: hsl(var(--tint) 36%);
  --color-neutral-dark: hsl(var(--tint) 44%);
  --color-neutral: hsl(var(--tint) 50%);
  --color-neutral-light: hsl(var(--tint) 80%);
  --color-neutral-lighter: hsl(var(--tint) 88%);
  --color-neutral-lightest: hsl(var(--tint) 96%);

  /* Colour assignments */
  --color-accent: var(--color-accent-light);
  --color-background: white;
  --color-offset: var(--color-neutral-lightest);
  --color-outline: hsl(var(--tint) 16% / 20%);
  --color-shadow: hsl(var(--tint) 16% / 10%);
  --color-rule: var(--color-neutral-lightest);

  --color-text: var(--color-neutral-darkest);
  --color-link: var(--color-accent);
  --color-link-underline: var(--color-neutral-light);

  --color-delete: hsl(0 100% 80% / 75%);
  --color-highlight: hsl(48 100% 80% / 75%);
  --color-insert: hsl(120 100% 80% / 75%);
  --color-focus: hsl(48 100% 50%);

  /* Typography */
  --font-family-sans: "Söhne", sans-serif;
  --font-family-monospace: "Söhne Mono", monospace;
  --line-height-tight: 1.25;
  --line-height-loose: 1.5;
  --line-height-prose: 1.75;
  --line-measure: 42.5rem;
  --word-spacing: 0;
  --text-spacing: 0 0.25em 0.125em 0.25em;

  /* Borders */
  --border-width-thin: 1px;
  --border-width-thick: 2px;
  --border-width-thicker: 3px;
  --border-radius: 4px;

  /* Sizing */
  --size-icon-small: 1rem;
  --size-icon-medium: 2rem;
  --size-icon-large: 3rem;

  /* Spacing */
  --space-block: 0.5rem;
  --space-inline: 0.75rem;

  /* Inset spacing */
  --inset-small: var(--space-inline);
  --inset-small-squished: calc(var(--inset-small) / 2) var(--inset-small);
  --inset-large: calc(var(--inset-small) * 2);
  --inset-large-squished: calc(var(--inset-large) / 2) var(--inset-large);

  /* Grids */
  --gap: var(--step-3);

  /* Animation */
  --transition-short: 0.15s;

  /* Container values */
  --container-inline-size: 100vw;
  --container-max-inline-size: 80rem;
  --container-inline-inset: calc(100vw - var(--container-inline-size));
  --container-gutter: calc(var(--container-inline-inset) / 2);

  /* Sticky title */
  --sticky-title-block-size: 0;

  /* Align items with logo */
  --logo-inline-size: 8rem;

  /* Indicate the presence of dark mode styles */
  color-scheme: light dark;
}

@media (--from-medium-viewport) {
  :root {
    --sticky-title-block-size: calc(var(--step-4) + var(--gap));
  }
}

@media (--from-large-viewport) {
  :root {
    --container-inline-size: 80vw;
  }
}

@media print {
  :root {
    --line-measure: 50rem;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-neutral-darkest: hsl(var(--tint) 96%);
    --color-neutral-darker: hsl(var(--tint) 88%);
    --color-neutral-dark: hsl(var(--tint) 80%);
    --color-neutral: hsl(var(--tint) 50%);
    --color-neutral-light: hsl(var(--tint) 44%);
    --color-neutral-lighter: hsl(var(--tint) 36%);
    --color-neutral-lightest: hsl(var(--tint) 16%);
    --color-accent: var(--color-accent-dark);
    --color-background: hsl(var(--tint) 8%);
    --color-shadow: black;
    --color-highlight: hsl(60 100% 70% / 15%);
    --line-height-tight: calc(1.25em + 0.5vw);
    --line-height-loose: calc(1.5em + 0.5vw);
    --line-height-prose: calc(1.75em + 0.5vw);
    --word-spacing: 0.05em;
  }
}
