/* Typographic styles */
%title {
  font-size: var(--title-font-size, var(--step-5));
  font-weight: 500;
  hanging-punctuation: first;
  letter-spacing: -0.025em;
  line-height: var(--line-height-tight);
}

%heading {
  --flow-space: 2em;
  font-size: var(--step-3);
  font-weight: normal;
  hanging-punctuation: first;
  letter-spacing: -0.025em;
  line-height: var(--line-height-tight);
}

%lede {
  --flow-space: 0.5em;
  font-size: var(--step-2);
  hanging-punctuation: first;
  letter-spacing: -0.025em;
  line-height: var(--line-height-loose);
}

%subhead {
  --flow-space: 1.5em;
  font-size: var(--subhead-font-size, var(--step-2));
  font-weight: 500;
  hanging-punctuation: first;
  letter-spacing: -0.025em;
  line-height: var(--line-height-tight);
  text-shadow: 0.01em 0 0.0025em currentColor;
}

%body {
  --flow-space: 1em;
  font-size: var(--body-font-size, var(--step-1));
  font-variant: oldstyle-nums;
  hanging-punctuation: first;
  hyphens: auto;
  line-height: var(--body-line-height, var(--line-height-loose));
  word-spacing: var(--word-spacing);
}

%caption {
  --flow-space: 0.5em;
  color: var(--caption-color, var(--color-neutral-dark));
  font-size: var(--step-0);
  font-variant: tabular-nums;
  line-height: var(--caption-line-height, var(--line-height-loose));
}

/* Layout */
%container {
  margin-inline: auto;
  inline-size: var(--container-inline-size);
  max-inline-size: var(--container-max-inline-size);
  padding-inline: var(--gap);
}

/* Visual effects */
%wallpaper {
  background-image: radial-gradient(var(--color-offset) 15%, transparent 15%);
  background-position: 0 0, 8px 8px;
  background-repeat: repeat;
  background-size: 16px 16px;
}
