@font-face {
  font-display: swap;
  font-family: "Untitled";
  font-weight: normal;
  src: url("/assets/fonts/untitled-regular.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Untitled";
  font-style: italic;
  font-weight: normal;
  src: url("/assets/fonts/untitled-italic.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Untitled";
  font-weight: 600;
  src: url("/assets/fonts/untitled-medium.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Source Code Pro";
  font-weight: normal;
  src: url("/assets/fonts/sourcecodepro-regular.woff2") format("woff2");
}
