@font-face {
  font-display: swap;
  font-family: "Söhne Mono";
  font-weight: normal;
  src: url("/assets/fonts/soehne-mono-buch.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Söhne";
  font-weight: normal;
  src: url("/assets/fonts/soehne-buch.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Söhne";
  font-style: italic;
  font-weight: normal;
  src: url("/assets/fonts/soehne-buch-kursiv.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Söhne";
  font-weight: 500;
  src: url("/assets/fonts/soehne-kraftig.woff2") format("woff2");
}
