<header class="banner container">
  <a class="p-author h-card" rel="author home" href="/">{{ app.name }}</a>
  <nav aria-label="site">
    {% render 'navigation' with navigation.primary
      page: page
      type: type
    -%}
    {% render 'navigation' with navigation.secondary
      page: page
      type: type
    -%}
  </nav>
</header>
