<header class="banner">
  <div class="banner__container container">
    <div class="banner__title">
      <a class="p-author h-card" rel="author home" href="/">{{ app.name }}</a>
    </div>
    <nav class="banner__navigation" aria-label="site">
      {% render 'navigation' with navigation.primary
        page: page
        tags: tags
      -%}
      {% render 'navigation' with navigation.secondary
        page: page
        tags: tags
      -%}
    </nav>
  </div>
</header>
