<footer class="contentinfo">
  <div class="contentinfo__container container">
    {%- render 'navigation' with navigation.social -%}
    {%- render 'navigation' with navigation.tertiary
      page: page
      layout: layout
    -%}
    <small class="contentinfo__legal">
      © <time>{{ 'now' | date: '%Y' }}</time>
    </small>
  </div>
</footer>
