<ul class="elsewhere">
  <li>
    <a href="https://twitter.com/paulrobertlloyd" rel="me">
      <svg width="20" height="20" viewBox="0 0 800 800" aria-label="Twitter" focusable="false">
        <path fill="currentColor" d="M718 236C729 468 559 725 251 725 98 725 0 651 0 651S120 676 242 584C119 576 89 469 89 469s34 9 74-3c-138-34-132-163-132-163S65 324 106 324C-19 227 55 104 55 104s113 159 339 172c-33-180 174-263 280-150 55-9 106-40 106-40s-18 61-73 90.5c45-3 94-26 94-26S769 202 718 236z"/>
      </svg>
    </a>
  </li>
  <li>
    <a href="https://micro.blog/paulrobertlloyd" rel="me">
      <svg width="20" height="20" viewBox="0 0 800 800" aria-label="Micro.blog" focusable="false">
        <path fill="currentColor" d="M713 591c-68 85-31 158-8 194 10 14-5 15-10 14-98-19-136-84-138-88-4-5-8-8-13-6a421 421 0 0 1-144 23C180 728 0 566 0 364S180 0 400 0s400 162 400 364c0 86-32 164-87 227zM400 462l107 75a12 12 0 0 0 18-13l-38-125 104-78a12 12 0 0 0-7-22l-130-2-43-123a12 12 0 0 0-22 0l-43 123-130 2a12 12 0 0 0-7 22l104 78-38 125a12 12 0 0 0 18 13l107-75z"/>
      </svg>
    </a>
  </li>
  <li>
    <a href="https://github.com/paulrobertlloyd" rel="me">
      <svg width="20" height="20" viewBox="0 0 800 800" aria-label="GitHub" focusable="false">
        <path fill="currentColor" d="M400 48c200 0 360 160 360 360 0 160-104 296-246 343-13 4-24-3-24-18v-99c0-48-25-66-25-66 79-9 165-39 165-178-0-61-38-97-38-97 0-0 20-40-2-95-0-0-30-10-100 37-58-17-122-17-180 0-69-47-100-37-100-37-22 55-3 95-2 95-0-0-38 36-38 97 0 139 86 170 165 178 0-0-20 14-24 48-20 10-73 25-105-30 0 0-18-35-54-38 0-0-36-0-3 23 0-0 24 11 41 52-0-0 22 71 121 49v61c0 15-12 22-25 18C144 708 40 568 40 408 40 209 200 48 400 48z"/>
      </svg>
    </a>
  </li>
  <li>
    <a href="https://flickr.com/people/paulrobertlloyd" rel="me">
      <svg width="20" height="20" viewBox="0 0 800 800" aria-label="Flickr" focusable="false">
        <path fill="currentColor" fill-rule="evenodd" d="M400,760 C600,760 760,600 760,400 C760,200 600,40 400,40 C200,40 40,200 40,400 C40,600 200,760 400,760 Z M250,520 C316,520 370,466 370,400 C370,334 316,280 250,280 C184,280 130,334 130,400 C130,466 184,520 250,520 Z M550,520 C616,520 670,466 670,400 C670,334 616,280 550,280 C484,280 430,334 430,400 C430,466 484,520 550,520 Z"/>
      </svg>
    </a>
  </li>
</ul>
