<footer class="footer">
  <dl>
    <dt><visually-hidden>Date</visually-hidden></dt>
{%- if properties.start -%}
    <dd>{% datetime properties %}</dd>
{% elsif properties.published %}
    <dd>{% datetime properties properties.title %}</dd>
{%- endif -%}
    <dt><visually-hidden>Location</visually-hidden></dt>
{%- if properties.location.name -%}
    <dd class="p-location h-card">
      <span class="p-name">{{ properties.location.name }}</span>,
      {% adr properties %}
    </dd>
{%- elsif properties.location -%}
    <dd class="p-location">{% adr properties %}</dd>
{%- endif -%}
  </dl>
</footer>
