<footer class="footer">
  <dl>
    <dt class="visually-hidden">Published on</dt>
    <dd>
{%- if properties.title -%}
      {% datetime properties %}
{%- else -%}
      {% datetime properties true %}
{%- endif -%}
    </dd>
{%- if properties.location -%}
    <dt class="visually-hidden">Published in</dt>
    <dd class="p-location">{% adr properties %}</dd>
{%- endif -%}
{%- if properties.in_reply_to -%}
    <dt>In reply to</dt>
    <dd>
      <a class="u-in-reply-to" href="{{ properties.in_reply_to }}">a post on {{ properties.in_reply_to | hostname }}</a>
    </dd>
{%- endif -%}
  </dl>
</footer>
