<footer class="footer">
  <dl>
    <dt class="visually-hidden">Date</dt>
    <dd>{{ properties | datetime }}</dd>
{%- if properties.location.name -%}
    <dt class="visually-hidden">Location</dt>
    <dd class="p-location h-card">
      <span class="p-name">{{ properties.location.name }}</span>,
      {{ properties | adr }}
    </dd>
{%- endif -%}
  </dl>
</footer>
