<footer class="footer">
  <dl>
    <dt class="visually-hidden">Date</dt>
    <dd>{{ properties | datetime }}</dd>
{%- if location.name -%}
    <dt class="visually-hidden">Location</dt>
    <dd class="p-location h-card">
      <span class="p-name">{{ location.name }}</span>
      {%- if location.locality %}, <span class="p-adr h-adr p-locality">{{ location.locality }}</span>{% endif %}
    </dd>
{%- endif -%}
  </dl>
</footer>
