<footer class="footer">
  <dl>
    <dt><visually-hidden>Date</visually-hidden></dt>
{%- if start -%}
    <dd>{% duration start end %}</dd>
{% elsif published %}
    <dd>{% published published timeZone title %}</dd>
{%- endif -%}
    <dt><visually-hidden>Location</visually-hidden></dt>
{%- if location.name -%}
    <dd class="p-location h-card">
      <span class="p-name">{{ location.name }}</span>,
      {% adr location %}
    </dd>
{%- elsif location -%}
    <dd class="p-location">{% adr location %}</dd>
{%- endif -%}
  </dl>
</footer>
