<figure class="align-{{ alignment | default: 'none' }}">
  <div class="gallery" style="--columns: {{ columns | default: gallery.size }}">
  {%- for image in gallery %}
    {% image image, imagePreset, "screenshot" %}
  {%- endfor %}
  </div>
{%- if caption %}
  <figcaption>
    {{ caption | markdown }}
  </figcaption>
{%- endif %}
</figure>
