{%- if title -%}
<header class="header">
  <h1 class="p-name">{{ title }}</h1>
{%- if summary or bookmarkOf or uid -%}
  <flow-content data-font="lede">
    <p class="p-summary">{{ summary | markdown: "inline" }}</p>
{%- if bookmarkOf -%}
    <p>{% external_url bookmarkOf "u-bookmark-of" %}</p>
{%- endif -%}
{%- if uid -%}
    <p>{% external_url uid "u-uid" %}</p>
{%- endif -%}
  </flow-content>
{%- endif -%}
</header>
{%- endif -%}
