{{ if id && label }}
<svg width="{{ size }}" height="{{ size }}" focusable="false" aria-labelledby="{{ id }}-title" role="img">
  <title id="${id}-title">{{ label }}</title>
  <use href="/assets/vectors/icons.svg#{{ id }}"></use>
</svg>
{{ else if id }}
<svg width="{{ size }}" height="{{ size }}" focusable="false" aria-hidden="true">
  <use href="/assets/vectors/icons.svg#{{ id }}"></use>
</svg>
{{ /if }}
