<ul class="items{% if modifier %} items--{{ modifier }}{% endif %}" style="--grid-size: {{ gridSize | default: '100%' }}" role="list">
{%- for item in items limit: limit -%}
  <li class="items__item">
    {%- render 'item/{{ component | default: "entry" }}'
      id: forloop.rindex
      item: item
    -%}
  </li>
{%- else -%}
  <li class="items__item">{{ itemsNoContent | markdown: 'inline' }}</li>
{%- endfor -%}
</ul>
