<div class="items{% if modifier %} items--{{ modifier }}{% endif %}" style="--grid-size: {{ grid_size | default: '100%' }}">
{%- for item in items limit: limit -%}
  {%- render 'item/{{ component | default: item.data.layout }}'
    item: item
    modifier: item_modifier
    card_image_ratio: card_image_ratio
  -%}
{%- endfor -%}
</div>
