<ul class="items{% if modifier %} items--{{ modifier }}{% endif %}" style="--grid-size: {{ grid_size | default: '100%' }}">
  {%- for item in items limit: limit -%}<li>
    {%- render 'item/{{ component | default: item.data.type | default: item.data.layout }}'
      item: item
      modifier: item_modifier
      hide_summary: item_hide_summary
      image_ratio: item_image_ratio
      image_preset: item_image_preset
    -%}
  {%- else -%}
    {%- render 'content' with no_items_content -%}
  </li>{%- endfor -%}
</ul>
