<ul class="items{% if modifier %} items--{{ modifier }}{% endif %}" style="--grid-size: {{ grid_size | default: '100%' }}">
{%- for item in items limit: limit -%}
  <li class="items__item">
    {%- render 'item/{{ component | default: item.data.type | default: item.data.layout }}'
      item: item
      hide_summary: item_hide_summary
      image_ratio: item_image_ratio
      image_preset: item_image_preset
    -%}
  </li>
{%- else -%}
  <li class="items__item">{{ no_items_content | markdown: 'inline' }}</li>
{%- endfor -%}
</ul>
