<ul class="itinerary" role="list">
{%- for stop in itinerary %}
  <li>
    {%- unless forloop.first %}<svg width="1em" height="1em" focusable="false" aria-hidden="true"><use href="#_icon_{{ stop | stop_icon }}"></use></svg> {% endunless -%}
    {{ stop.label }}, {{ stop.country_name }}
  </li>
{%- endfor %}
</ul>
