<ul class="itinerary" role="list">
{%- for stop in itinerary %}
  <li>
    {%- unless forloop.first -%}
      {%- icon stop.icon %}
    {% endunless -%}
    {{ stop.label }}, {{ stop.country_name }}
  </li>
{%- endfor %}
</ul>
