<ul class="itinerary" role="list">
{%- for stop in itinerary %}
  <li>
    {%- unless forloop.first -%}
      {%- assign icon = stop | stop_icon -%}
      {%- icon icon %}
    {% endunless -%}
    {{ stop.label }}, {{ stop.country_name }}
  </li>
{%- endfor %}
</ul>
