{%- if inReplyTo or category or syndication or canonical or commentsMeta -%}
<dl class="meta">
{%- if inReplyTo -%}
  <dt>In reply to a post on</dt>
  <dd>{% external_url inReplyTo "u-in-reply-to" %}</dd>
{%- endif -%}
{%- if category -%}
  <dt>Categories</dt>
  <dd>
    {%- render "categories" with category -%}
  </dd>
{%- endif -%}
{%- if syndication -%}
  <dt>Also on</dt>
  <dd>
    {%- for url in syndication %}
      {% syndication url %}{% unless forloop.last %},{% endunless %}
    {%- endfor -%}
  </dd>
{%- endif -%}
{%- if canonical -%}
  <dt>Original publication</dt>
  <dd>{% canonical canonical %}</dd>
{%- endif -%}
{%- if commentsMeta -%}
  <dt>Comments</dt>
  <dd><a href="{{ commentsMeta.url }}">{{ commentsMeta.data.summary }}</a></dd>
{%- endif -%}
</dl>
{%- endif -%}
