<dl class="meta">
{%- if categories.size > 0 -%}
  <div>
    <dt class="visually-hidden">Categories</dt>
    <dd>
      {%- render 'categories' with categories -%}
    </dd>
  </div>
{%- endif -%}
{%- if syndication.size > 0 -%}
  <div>
    <dt>Also on</dt>
    <dd>
      {%- for site in syndication %}
        <a class="u-syndication" rel="syndication external" href="{{ site }}">{{ site | syndication_target }}</a>{% unless forloop.last %},{% endunless %}
      {%- endfor -%}
    </dd>
  </div>
{%- endif -%}
{%- if comments.data.comments.size > 0 -%}
  <div>
    <dt class="visually-hidden">Comments</dt>
    <dd>
      <a href="{{ comments.url }}">{{ comments.data.comments.size | pluralise: 'comment' }} on this post</a>
    </dd>
  </div>
{%- endif -%}
</dl>
