{%- if properties.category or properties.syndication or properties.canonical or comments_meta -%}
<dl class="meta">
{%- if properties.category -%}
  <dt>Categories</dt>
  <dd>
    {%- render 'categories' with properties.category -%}
  </dd>
{%- endif -%}
{%- if properties.syndication -%}
  <dt>Also on</dt>
  <dd>
    {%- for url in properties.syndication %}
      {% syndication url %}{% unless forloop.last %},{% endunless %}
    {%- endfor -%}
  </dd>
{%- endif -%}
{%- if properties.canonical -%}
  <dt>Original publication</dt>
  <dd>{% canonical properties.canonical %}</dd>
{%- endif -%}
{%- if comments_meta -%}
  <dt>Comments</dt>
  <dd><a href="{{ comments_meta.url }}">{{ comments_meta.data.properties.summary }}</a></dd>
{%- endif -%}
</dl>
{%- endif -%}
