<ul class="navigation" role="list">
{%- for item in navigation %}
  <li>
    <a {% if item.rel %}rel="{{ item.rel }}" {% endif %}href="{{ item.url }}"{% if type contains item.post_type or page.url contains item.url %} aria-current="true"{% endif %}>
      {%- icon item.icon 24 item.icon_label -%}
      {{- item.label -}}
    </a>
  </li>
{%- endfor %}
</ul>
