<ul class="navigation navigation--elsewhere">
  <li>
    <a href="https://twitter.com/paulrobertlloyd" rel="me">
      <svg width="20" height="20" viewBox="0 0 240 240" aria-label="Twitter" focusable="false">
        <path fill="currentColor" d="M215 76c3 70-48 147-140 147-46 0-75-22-75-22s36 7 73-20c-37-3-46-35-46-35s10 3 22-1C7 135 9 97 9 97s10 6 23 6C-6 74 16 37 16 37s34 48 102 51a49 49 0 0184-45c16-2 32-12 32-12s-6 19-22 28c13-1 28-8 28-8s-10 15-25 25z"/>
      </svg>
    </a>
  </li>
  <li>
    <a href="https://micro.blog/paulrobertlloyd" rel="me">
      <svg width="20" height="20" viewBox="0 0 240 240" aria-label="Micro.blog" focusable="false">
        <path fill="currentColor" d="M214 177c-20 26-9 48-2 59 3 4-2 4-3 4-30-6-41-25-42-27-1-1-2-2-4-1-14 4-28 7-43 7C54 219 0 170 0 109 0 49 54 0 120 0s120 49 120 109c0 26-10 50-26 68zm-94-38l32 22h4l2-3-12-38 31-24c2 0 2-2 2-4l-4-2-39-1-13-37-3-2-3 2-13 37-39 1-4 2c0 2 0 4 2 4l31 24-12 38 2 3h4l32-22z"/>
      </svg>
    </a>
  </li>
  <li>
    <a href="https://flickr.com/people/paulrobertlloyd" rel="me">
      <svg width="20" height="20" viewBox="0 0 240 240" aria-label="Flickr" focusable="false">
        <path fill="currentColor" fill-rule="evenodd" d="M120 240c67 0 120-53 120-120S187 0 120 0 0 53 0 120s53 120 120 120zm-49-80c21 0 39-18 39-39 0-23-18-41-39-41-23 0-41 18-41 41 0 21 18 39 41 39zm100 0c21 0 39-18 39-39 0-23-18-41-39-41-23 0-41 18-41 41 0 21 18 39 41 39z"/>
      </svg>
    </a>
  </li>
  <li>
    <a href="https://github.com/paulrobertlloyd" rel="me authn">
      <svg width="20" height="20" viewBox="0 0 240 240" aria-label="GitHub" focusable="false">
        <path fill="currentColor" d="M120 0a121 121 0 0138 235c-4 1-8-1-8-6v-33c0-16-8-22-8-22 26-3 55-13 55-60 0-20-13-32-13-32s7-14-1-32c0 0-10-3-33 12-19-5-41-5-60 0-23-15-33-12-33-12-8 18-1 32-1 32s-13 12-13 32c0 47 29 57 55 60 0 0-6 4-8 16-6 3-24 8-35-10 0 0-6-12-18-13 0 0-12 0-1 8 0 0 8 3 14 17 0 0 7 24 40 16v21c0 5-4 7-8 6-47-15-82-61-82-115C0 54 53 0 120 0z"/>
      </svg>
    </a>
  </li>
  <li>
    <a href="https://www.linkedin.com/in/paulrobertlloyd" rel="me">
      <svg width="20" height="20" viewBox="0 0 240 240" aria-label="LinkedIn" focusable="false">
        <path fill="currentColor" d="M205 204h-36v-55c0-14 0-31-18-31-19 0-21 15-21 30v56H94V90h34v15h1c4-9 16-18 33-18 36 0 43 24 43 54v63zM54 73a20 20 0 110-40 20 20 0 010 40zm18 132H36V90h36v115zM18 0C8 0 0 8 0 17v206c0 9 8 17 18 17h204c10 0 18-8 18-17V17c0-9-8-17-18-17H18z"/>
      </svg>
    </a>
  </li>
</ul>
