{%- if pagination.hrefs.size > 1 -%}
<nav class="pagination" aria-label="page">
{%- if pagination.href.next -%}
  <a rel="prev" href="{{ pagination.href.next | remove: '.html' | replace: 'page/','?page=' }}">Previous</a>
{%- endif -%}
{%- if pagination.href.previous -%}
  <a rel="next" href="{{ pagination.href.previous | remove: '.html' | replace: 'page/','?page=' }}">Next</a>
{%- endif -%}
</nav>
{%- endif -%}
