<figure class="align-{{ alignment | default: 'none' }}">
  <div class="photos" style="--columns: {{ columns | default: photos.size }}">
  {%- for item in photos -%}
    {%- include 'image' with item.url
      preset: image_preset
      alt: item.alt
      class: image_class
    -%}
  {%- endfor -%}
  </div>
{%- if caption -%}
  <figcaption>
    {{ caption | markdownify }}
  </figcaption>
{%- endif -%}
</figure>
