<figure class="align-{{ alignment | default: 'none' }}">
  <div class="screenshots" style="--columns: {{ columns | default: screenshots.size }}">
  {%- for screenshot in screenshots -%}
    {%- include 'image' with screenshot.url
      alt: screenshot.alt
    -%}
  {%- endfor -%}
  </div>
{%- if caption %}
  <figcaption>
    {{ caption | markdownify }}
  </figcaption>
{%- endif %}
</figure>
