<section class="section section--trips" aria-labelledby="{{ id }}">
  <div class="section__container">
    <header class="section__header">
      <h2 class="section__title" id="{{ id }}">{{ title }}</h2>
    </header>

    <div class="section__main s-linear">
      {%- if section-trips.size > 0 -%}
        {%- render 'trips' with section-trips -%}
      {%- else -%}
        <p>No trips recorded.</p>
      {%- endif -%}
    </div>
  </div>
</section>
