<nav class="section">
  <div class="section__container">
    <header class="section__header">
      <h2 class="section__title" id="years">Browse by month</h2>
    </header>

    <ol class="section__main" style="--grid-size: 7.5rem">
    {%- for date in archive.months -%}
      {%- if date contains year -%}
      <li class="item item--inline">
        <h3 class="item__title"><a href="/{{ date | date: '%Y/%m' }}/">{{ date | date: '%B' }}</a></h3>
      </li>
      {%- endif -%}
    {%- endfor -%}
    </ol>
  </div>
</nav>
