<nav class="section" aria-labelledby="browse">
  <div class="section__container">
    <header class="section__header">
      <h2 class="section__title" id="browse">Browse by month</h2>
    </header>

    <ol class="section__main" style="--grid-size: 7.5rem">
    {%- for datetime in section-months -%}
      {%- if datetime contains year -%}
      <li class="item item--inline">
        <h3 class="item__title"><a href="/{{ datetime | date: '%Y/%m' }}/">{{ datetime | date: '%B' }}</a></h3>
      </li>
      {%- endif -%}
    {%- endfor -%}
    </ol>
  </div>
</nav>
