{%- if section.size > 0 %}
  <section class="section" aria-labelledby="{{ id }}">
    <div class="section__container">
      <header class="section__header">
        <h2 class="section__title" id="{{ id }}">{{ title }}</h2>
      </header>

      <div class="section__main{% if scrollable %} section__main--scrollable{% endif %}">
        {%- include 'items' with section
          limit: items_limit
          component: items_component
          grid_size: items_grid_size
          modifier: items_modifier
          item_image_ratio: item_image_ratio:
          item_hide_summary: item_hide_summary
        -%}
      </div>
    </div>
  </section>
{%- endif -%}
