{%- if traverse.hrefs.size > 1 -%}
<nav class="traverse" aria-label="page">
{%- if traverse.href.next -%}
  <a href="{{ traverse.href.next | remove: '.html' | replace: 'page/','?page=' }}" rel="prev">
    <span aria-hidden="true">&larr;</span> Older {{ label }}
  </a>
{%- endif -%}
{%- if traverse.href.previous -%}
  <a href="{{ traverse.href.previous | remove: '.html' | replace: 'page/','?page=' }}" rel="next">
    Newer {{ label }} <span aria-hidden="true">&rarr;</span>
  </a>
{%- endif -%}
</nav>
{%- endif -%}
