{%- if traverse.links.size > 1 -%}
<nav class="traverse" aria-label="page">
{%- if traverse.nextPageLink -%}
  {%- assign nextPageLink = traverse.nextPageLink | pretty | replace: 'page/','?page=' -%}
  <a href="{{ nextPageLink }}" rel="prev">
    <span aria-hidden="true">&larr;</span> Older {{ label }}
  </a>
{%- endif -%}
{%- if traverse.previousPageLink -%}
  {%- assign previousPageLink = traverse.previousPageLink | pretty | replace: 'page/','?page=' -%}
  <a href="{{ previousPageLink }}" rel="next">
    Newer {{ label }} <span aria-hidden="true">&rarr;</span>
  </a>
{%- endif -%}
</nav>
{%- endif -%}
