<form class="form" name="contact" action="/thanks" method="post" data-netlify="true">
  <div class="form__field">
    <label class="form__label" for="name">Your name</label>
    <input class="form__input" id="name" name="name" type="text" required>
  </div>
  <div class="form__field">
    <label class="form__label" for="email">Your email</label>
    <input class="form__input" id="email" name="email" type="email" required>
  </div>
  <div class="form__field">
    <label class="form__label" for="message">Message</label>
    <textarea class="form__input" id="message" name="message" rows="5" required></textarea>
  </div>
  <button class="form__button" type="submit">Send message</button>
</form>
