<form class="form" name="remark+{{ page.fileSlug }}" action="{{ page.url | pretty }}" method="post" data-netlify="true">
  <fieldset class="form__container">
    <legend class="form__header">
      <span class="form__title">Add your remark</span>
    </legend>
    <ul class="form__fields">
      <li class="form__field">
        <label class="form__label" for="name">Your name</label>
        <input class="form__input" id="name" name="name" type="text" required>
      </li>
      <li class="form__field">
        <label class="form__label" for="email">Your email</label>
        <input class="form__input" id="email" name="email" type="email" required>
      </li>
      <li class="form__field">
        <label class="form__label" for="remark">Remark</label>
        <textarea class="form__input" id="remark" name="remark" row="20" cols="40" required></textarea>
      </li>
    </ul>
    <button class="form__button" type="submit">Submit remark</button>
  </fieldset>
</form>
