<search class="form">
  <form class="form__container" action="https://duckduckgo.com" method="get" id="search" data-search-index="/archives/search.json">
    <div class="form__header">
      <label class="form__title" id="search-label" for="search-input">Search this site</label>
    </div>
    <div class="form__field">
      <div class="form__combobox" id="search-combobox" role="combobox" aria-expanded="false" aria-owns="search-listbox" aria-haspopup="listbox">
        <input class="form__input" id="search-input" type="search" name="q" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" aria-controls="search-listbox" title="Enter search keywords" placeholder="e.g. Brasilia, Design, Olympics…">
        <input type="hidden" name="sites" value="{{ app.url }}">
        <input type="hidden" name="kl" value="uk-en">
        <p class="visually-hidden" id="search-status" role="status" aria-live="polite">No search results.</p>
        <ul class="form__listbox" id="search-listbox" role="listbox" aria-labelledby="search-label" hidden></ul>
      </div>
      <button class="form__button" id="search-submit" type="submit">Search with DuckDuckGo</button>
    </div>
  </form>
  <script src="/assets/scripts/search.js" type="module"></script>
</search>
