.avatar {
  background-color: var(--color-offset);
  block-size: var(--avatar-size, var(--space-l));
  border-radius: 100%;
  inline-size: var(--avatar-size, var(--space-l));
  max-inline-size: none;
  object-fit: cover;
}
