.banner {
  align-items: baseline;
  display: flex;
  flex-wrap: wrap;
  padding-block: var(--space-s-m);
}

.banner__title {
  flex: 0;
  font-weight: 500;
  margin-inline-end: var(--gap);
  white-space: nowrap;

  a {
    color: var(--color-text);
    display: inline-flex;
    margin-inline-start: calc(var(--space-s) * -1);
    padding-block: var(--space-2xs);
    padding-inline: var(--space-s);
  }
}

.banner__navigation {
  color: var(--color-neutral-dark);
  display: flex;
  flex: 1;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-inline: calc(var(--space-xs) * -1);
}
