.banner {
  column-gap: var(--space-gutter);
  display: flex;
  flex-wrap: wrap;
  padding-block: calc(var(--space-gutter) - var(--space-inset));

  nav {
    color: var(--color-on-surface-variant);
    display: flex;
    flex: 999 1 0;
    flex-wrap: wrap;
    justify-content: space-between;
    min-inline-size: 70%;
  }

  a[rel~="home"] {
    flex-grow: 1;
    margin-inline: calc(var(--space-inset) * -1);
    padding: var(--space-inset);
  }
}
