.barchart {
  display: flex;
  flex-direction: column;
  max-inline-size: 100%;
  overflow-x: auto;
}

@media (--from-medium-viewport) {
  .barchart {
    overflow-x: visible;
  }
}

.barchart__caption,
.barchart__key {
  color: var(--color-neutral-dark);
  font-size: var(--font-size-s);
  padding-block: var(--space-2xs);
  text-align: end;
}

.barchart__caption abbr::before {
  content: "◼︎ ";
}

.barchart__caption abbr:first-of-type::before {
  color: var(--color-accent);
}

.barchart__caption abbr:last-of-type::before {
  color: var(--color-neutral-dark);
}

.barchart__items {
  display: flex;
  inline-size: 100%;
  min-inline-size: 32rem;
}

.barchart__item {
  display: flex;
  flex: 1;
  flex-direction: column-reverse;
  height: 33vh;
}

.barchart__key {
  border-block-start: var(--border-width-thin) solid var(--color-neutral-light);
}

.barchart__key-label {
  display: block;
  font-size: 75%;
  padding-block-end: var(--space-2xs);
  padding-inline-start: var(--space-2xs);
  rotate: 60deg;
}

.barchart__value {
  align-items: end;
  block-size: 100%;
  display: flex;
  position: relative;
}

.barchart__value a {
  display: contents;
}

.barchart__value [style^="--chart-size"] {
  block-size: var(--chart-size);
  display: block;
  position: absolute;
}

.barchart__value [style^="--chart-size"]:first-of-type {
  background-color: var(--color-accent);
  inline-size: 40%;
  inset-inline-start: 10%;
}

.barchart__value [style^="--chart-size"]:last-of-type {
  background-color: var(--color-neutral-dark);
  inline-size: 40%;
  inset-inline-end: 10%;
}

.barchart__value .barchart__value-label {
  --pointer-size: var(--space-2xs);

  background-color: var(--color-background);
  clip-path: polygon(
    0% 0%,
    100% 0%,
    100% calc(100% - var(--pointer-size)),
    var(--pointer-size) calc(100% - var(--pointer-size)),
    0 100%
  );
  color: var(--color-text);
  display: none;
  filter: invert();
  font-size: 90%;
  inset-block-start: -3em;
  padding-block: var(--pointer-size) calc(var(--pointer-size) * 2);
  padding-inline: var(--space-xs);
  position: absolute;
  white-space: nowrap;
  z-index: 2;
}

.barchart__value [style^="--chart-size"]:hover .barchart__value-label {
  display: block;
}
