.card {
  background: var(--color-surface);
  border-radius: var(--border-radius-large);
  color: var(--color-on-surface-variant);
  display: flex;
  flex: 1;
  flex-direction: column;
  font: var(--font-caption);
  gap: var(--space-stack);
  padding: var(--space-inset);
  position: relative;
  transition-duration: var(--transition-short);

  &:hover {
    background-color: var(--color-surface-bright);
    box-shadow:
      0 0 1vw var(--color-shadow),
      0 0 4vw var(--color-shadow);
  }

  header {
    color: var(--color-on-surface);
    font: var(--font-subhead);
  }

  footer {
    align-items: center;
    color: var(--color-primary-on-surface);
    display: inline-flex;
    flex-wrap: wrap;
    margin-block-start: auto;
  }

  svg {
    margin-inline: var(--space-inline);
  }

  img {
    aspect-ratio: var(--card-image-aspect-ratio);
    inline-size: 100%;
    object-fit: cover;
    transition-duration: var(--transition-short);
    will-change: scale;
  }

  > p {
    margin-bottom: var(--space-stack);
  }

  &:hover img {
    scale: 1.05;
  }

  a {
    &::before {
      border-radius: var(--border-radius-large);
      content: "";
      inset: 0;
      position: absolute;
      z-index: 2;
    }

    &:focus {
      outline: 0;
    }

    &:focus::before {
      outline: var(--border-width-focus) solid var(--color-focus);
    }
  }

  &[data-type^="article"],
  &[data-type^="presentation"] {
    --card-image-aspect-ratio: 3 / 2;
  }

  &[data-type^="drawing"] {
    --card-image-aspect-ratio: 7 / 6;
    --font-subhead: var(--font-caption);
  }

  &[data-type^="itinerary"] {
    --card-image-aspect-ratio: 5 / 2;
  }

  &[data-type^="photo"] {
    --card-image-aspect-ratio: 1;

    footer {
      align-items: end;
      background: linear-gradient(
        transparent,
        transparent 80%,
        var(--color-inverse-surface) 100%
      );
      border-end-end-radius: var(--border-radius-large);
      border-end-start-radius: var(--border-radius-large);
      color: var(--color-on-inverse-surface);
      inset: 0;
      padding: var(--space-inset);
      position: absolute;
      text-shadow: 0 0 2px var(--color-inverse-surface);
    }

    &:hover,
    a:hover {
      color: var(--color-on-inverse-surface-bright);
    }
  }
}

.card__image {
  clip-path: inset(0 round var(--border-radius-large));
  margin: calc(var(--space-inset) * -1);

  &:has(+ header) {
    clip-path: inset(
      0 round var(--border-radius-large) var(--border-radius-large) 0 0
    );
  }

  + header {
    margin-block-start: var(--space-inset);
  }

  [data-type^="article"] & {
    background-color: var(--color-primary-filter);

    img {
      filter: brightness(1.2) opacity(0.8);
      mix-blend-mode: luminosity;
    }
  }

  [data-type^="photo"] & {
    background-color: var(--color-inverse-surface);
  }
}
