.card {
  --anchor-decoration: none;
  --card-growth: var(--space-s);

  background: var(--color-surface);
  border-radius: var(--border-radius-large);
  color: var(--color-on-surface-variant);
  container-type: inline-size;
  display: flex;
  flex: 1;
  flex-direction: column;
  font: var(--font-body);
  gap: var(--space-3xs);
  margin: calc(var(--card-growth) * -1);
  padding: var(--card-growth);
  position: relative;
  transition-duration: var(--transition-short);

  &:hover {
    background-color: var(--color-surface-bright);
    border-radius: calc(var(--border-radius-large) * 1.5);
    box-shadow:
      0 0 1vw var(--color-shadow),
      0 0 4vw var(--color-shadow);
    z-index: 1;

    @media (--from-small-viewport) {
      --card-growth: calc(var(--space-s) * 1.5);
    }
  }

  header {
    color: var(--color-on-surface);
    font: var(--font-subhead);
  }

  footer {
    align-items: center;
    color: var(--color-primary-on-surface);
    display: inline-flex;
    flex-wrap: wrap;
    font: var(--font-caption);
    margin-block-start: auto;
  }

  svg {
    margin-inline: var(--space-2xs);
  }

  a {
    transition-duration: var(--transition-short);

    &::before {
      content: "";
      inset: 0;
      position: absolute;
      z-index: 2;
    }

    &:focus {
      outline: 0;
    }

    &:focus::before {
      border-radius: var(--border-radius-large);
      outline: var(--border-width-focus) solid var(--color-focus);
    }
  }

  img {
    aspect-ratio: 1;
    border-radius: var(--border-radius-small);
    margin-block-end: var(--space-3xs);
    object-fit: cover;
  }

  &[data-type^="article"],
  &[data-type^="presentation"] {
    &:has(img)::before {
      aspect-ratio: 3 / 2;
      background-color: var(--color-primary-on-surface);
      border-radius: var(--border-radius-small);
      content: "";
      display: block;
      inset: var(--card-growth);
      opacity: 0.5;
      position: absolute;
      transition-duration: var(--transition-short);
      transition-property: inline-size, inset;
    }

    img {
      aspect-ratio: 3 / 2;
      filter: contrast(0.75) brightness(1.25);
      mix-blend-mode: luminosity;
    }
  }

  &[data-type^="photo"] {
    background: var(--color-inverse-surface);
    color: var(--color-on-inverse-surface);

    footer {
      color: inherit;
    }

    a:hover {
      color: var(--color-on-inverse-surface-bright);
    }
  }

  &[data-type^="itinerary"] {
    img {
      aspect-ratio: 5 / 2;
    }
  }
}
