.categories {
  display: flex;
  flex-wrap: wrap;
  font-size: var(--font-size-base);
  gap: var(--space-2xs);
  margin-block: var(--space-3xs);

  li {
    margin-inline: calc(var(--space-2xs) * -1) var(--space-xs);
  }
}
