.contentinfo {
  align-items: baseline;
  color: var(--color-on-surface-variant);
  column-gap: var(--space-gutter);
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  padding-block: calc(var(--space-gutter) - var(--space-inset));
}
