.contentinfo {
  color: var(--color-neutral-dark);
  column-gap: var(--space-s);
  display: flex;
  flex-flow: row-reverse wrap;
  justify-content: space-between;
  padding-block: var(--gap);

  .navigation {
    flex-wrap: wrap;
    justify-content: start;
    margin-inline-start: calc(var(--space-s) * -1);
  }

  small {
    margin-inline-start: calc(var(--space-s) * -1);
    padding-block: var(--space-2xs);
    padding-inline: var(--space-s);
  }
}
