.contentinfo {
  align-items: center;
  color: var(--color-neutral-darker);
  display: flex;
  flex-flow: row-reverse wrap;
  justify-content: space-evenly;
  margin-block-start: auto;
  padding-block: var(--gap);

  .navigation {
    flex-wrap: wrap;
    justify-content: center;
  }

  a:hover {
    color: var(--color-link);
  }
}

.contentinfo__legal {
  font-size: 100%;
  padding-block: var(--space-2xs);
  padding-inline: var(--space-s);
}

@media (--from-medium-viewport) {
  .contentinfo__legal {
    margin-inline-start: calc(var(--space-s) * -1);
  }

  .contentinfo .navigation:first-of-type {
    margin-inline-start: auto;
  }
}

@media print {
  .contentinfo {
    flex-flow: row;
    justify-content: start;
  }

  .contentinfo__legal {
    margin: 0;
    padding: 0;
  }
}
