.embed {
  & a {
    --anchor-decoration: none;

    align-items: center;
    background-color: var(--color-offset);
    border-inline-start: var(--border-width-rule) solid var(--color-accent);
    display: flex;
    flex-wrap: wrap;
    gap: var(--flow-inset);
    padding: var(--flow-inset);
  }
}

.embed__poster {
  flex-basis: 15rem;
  flex-grow: 1;
  max-inline-size: 15rem;
  object-fit: cover;
}

.embed__meta {
  flex-basis: 0;
  flex-grow: 999;
  line-height: var(--line-height-tight);
  margin-block-start: 0 !important;
  min-inline-size: 40%;

  & a::before {
    content: "";
    display: block;
    inset: 0;
    position: absolute;
  }

  & .icon {
    display: inline;
    margin-block-end: -0.1em;
  }
}

.embed__hostname {
  color: var(--color-neutral-dark);
  display: block;
  margin-block-start: var(--space-2xs);
}
