.embed {
  a {
    --anchor-decoration: none;

    align-items: center;
    background-color: var(--color-surface);
    border-inline-start: var(--border-width-thick) solid var(--color-primary);
    display: flex;
    flex-wrap: wrap;
    gap: var(--flow-inset);
    padding: var(--flow-inset);
  }

  img {
    flex-basis: 15rem;
    flex-grow: 1;
    max-inline-size: min(100%, 15rem);
  }

  p {
    flex-basis: 0;
    flex-grow: 999;
    font: var(--font-subhead);
    min-inline-size: 40%;

    &::before {
      content: "\25b6\a0" / "";
    }
  }

  span {
    display: block;
    font-size: var(--font-size-s);
    font-weight: normal;
    text-decoration: underline;
    text-decoration-thickness: 1px;
    text-underline-offset: 1.5px;
  }

  &:hover span {
    text-decoration-thickness: 2px;
  }
}
