.footer {
  align-items: baseline;
  color: var(--color-neutral-dark);
  display: flex;

  cite {
    font-style: normal;
  }

  dl {
    flex: 1;
  }

  dt,
  dd {
    display: inline;
    white-space: nowrap;
  }

  dd:not(:last-of-type)::after {
    content: "·";
    display: inline;
    opacity: 0.5;
    padding-inline: calc(var(--space-xs) / 2);
  }
}
