.footer {
  font: var(--font-caption);

  dl {
    align-items: baseline;
    color: var(--color-primary-on-surface);
    display: flex;
    flex-wrap: wrap;
  }

  dt,
  dd {
    margin: 0;
  }

  dd:not(:last-of-type)::after {
    content: "·";
    padding-inline: var(--space-inline);
  }
}
