.footnotes {
  list-style-position: inside;
  padding-inline-start: 0;
}

.footnotes :target {
  background-color: var(--color-highlight);
}

.footnote-ref {
  font-variant-numeric: tabular-nums;
  padding: var(--text-spacing);

  a {
    text-underline-offset: -0.25em;
  }
}

.footnote-backref {
  align-items: baseline;
  block-size: 1.5em;
  border-radius: 100%;
  display: inline-flex;
  inline-size: 1.5em;
  justify-content: center;
  margin: 0;
  text-decoration: none;
}

.footnote-backref:hover {
  background-color: var(--color-offset);
}
