.footnotes {
  border-block-start: var(--border-width-thin) solid var(--color-on-surface);
  font: var(--font-caption);
  margin-block-start: calc(var(--flow-space) * 3);
}

.footnotes :target {
  background-color: var(--color-highlight);
}

.footnote-ref {
  font-variant-numeric: tabular-nums;
  padding: var(--text-spacing);

  a {
    text-underline-offset: -0.25em;
  }
}

.footnote-backref {
  align-items: baseline;
  block-size: 1.5em;
  border-radius: 100%;
  display: inline-flex;
  inline-size: 1.5em;
  justify-content: center;
  margin: 0;
  text-decoration: none;
}

.footnote-backref:hover {
  background-color: var(--color-surface);
}
