.form {
  display: grid;
  font: var(--font-body);
  gap: calc(var(--space-gutter) - var(--space-inset));
}

.form__button {
  background-color: var(--color-on-surface);
  border: 0;
  border-radius: var(--border-radius-large);
  color: var(--color-surface-bright);
  font-weight: 500;
  margin-inline: calc(var(--space-inset) * -1);
  padding: var(--space-inset);

  &:hover {
    background-color: var(--color-primary-on-surface);
  }
}

.form__input {
  background-color: var(--color-surface-bright);
  border: var(--border-width-thick) solid var(--color-outline);
  border-radius: var(--border-radius-large);
  inline-size: calc(100% + var(--space-inset) + var(--space-inset));
  margin-inline: calc(var(--space-inset) * -1);
  padding: var(--space-inset);

  &:focus {
    border-color: var(--color-on-surface);
    outline: var(--border-width-focus) solid var(--color-focus);
  }
}

.form__input-wrapper {
  display: flex;
  gap: var(--space-inline);
}

.form__label {
  color: var(--color-on-surface-variant);
  display: inline-block;
  font: var(--font-caption);
  padding-block: var(--space-inset);
}

.form__listbox {
  background-color: var(--color-surface-bright);
  border: var(--border-width-thick) solid var(--color-on-surface);
  margin-block-start: calc(var(--border-width-thick) * -1);
  max-block-size: 60vh;
  overflow-y: scroll;
  position: relative;
  z-index: 1;

  li {
    --anchor-decoration: none;
    --anchor-color-hover: currentcolor;

    align-items: baseline;
    display: flex;
    padding: var(--space-inset);

    &[aria-selected="true"] {
      background-color: var(--color-primary);
      color: white;
    }

    &:hover[aria-selected="true"] {
      background-color: var(--color-primary-on-surface);
    }

    &:hover:not([aria-selected="true"]) {
      background-color: var(--color-surface);
    }
  }
}
