.form {
  display: grid;
  font-size: var(--font-size-m);
  gap: var(--space-s);
  line-height: var(--line-height-loose);
}

.form__button {
  background-color: var(--color-text);
  border: 0;
  color: var(--color-background);
  font-weight: 500;
  padding: var(--space-xs) var(--space-s);

  &:hover {
    background-color: var(--color-link);
  }
}

.form__input {
  background-color: var(--color-background);
  border: var(--border-width-thick) solid var(--color-neutral-light);
  inline-size: 100%;
  padding: var(--space-2xs);

  &:focus {
    border-color: var(--color-neutral-darkest);
    outline: var(--border-width-focus) solid var(--color-focus);
  }
}

.form__input-wrapper {
  display: flex;
  gap: var(--space-2xs);
}

.form__label {
  color: var(--color-neutral-dark);
  display: inline-block;
  padding-block: var(--space-2xs);
}

.form__listbox {
  background-color: var(--color-background);
  border: var(--border-width-thick) solid var(--color-neutral-darkest);
  margin-block-start: calc(var(--border-width-thick) * -1);
  max-block-size: 60vh;
  overflow-y: scroll;
  position: relative;
  z-index: 1;

  li {
    --anchor-decoration: none;
    --color-link: currentcolor;

    align-items: baseline;
    display: flex;
    padding: var(--space-s);

    &[aria-selected="true"] {
      background-color: var(--color-accent);
      color: white;
    }

    &:hover[aria-selected="true"] {
      background-color: var(--color-accent-with-contrast);
    }

    &:hover:not([aria-selected="true"]) {
      background-color: var(--color-offset);
    }
  }
}
