.form {
  font-size: var(--font-size-m);
  line-height: var(--line-height-loose);
}

.form__field {
  display: flex;
  flex-wrap: wrap;
  margin-block-end: var(--space-s);
}

.form__label {
  color: var(--color-neutral-dark);
  display: block;
  flex: 1 0 100%;
  padding-block: var(--space-2xs);
}

/* Input */
.form__input {
  background-color: var(--color-background);
  border: var(--border-width-rule) solid var(--color-neutral-lighter);
  flex: 1;
  inline-size: 100%;
  padding: var(--space-2xs);

  &:focus {
    border-color: var(--color-neutral-darker);
    outline: var(--border-width-focus) solid var(--color-focus);
  }
}

textarea.form__input {
  block-size: 12em;
}

/* Button */
.form__button {
  background-color: var(--color-text);
  color: var(--color-neutral-lightest);
  font-weight: 500;
  padding: var(--space-2xs) var(--space-s);

  &:hover {
    background-color: var(--color-link);
  }
}

/* Combobox */
.form__combobox {
  flex: 1;
  position: relative;
}

/* Listbox */
.form__listbox {
  background-color: var(--color-background);
  border: var(--border-width-rule) solid var(--color-neutral-darker);
  margin-block-start: calc(
    calc(var(--space-s) + var(--border-width-rule)) * -1
  );
  max-block-size: 60vh;
  overflow-y: scroll;
  position: relative;
  z-index: 1;

  & [aria-selected="true"] {
    background-color: var(--color-link);
    color: white;
  }

  & :focus {
    outline: 0;
  }
}

/* Option */
.form__option {
  --anchor-decoration: none;

  align-items: baseline;
  display: flex;
  padding: var(--space-s);

  &:hover {
    background-color: var(--color-offset);
  }
}
