.header {
  max-inline-size: var(--measure);

  flow-content {
    color: var(--color-text-secondary);
    margin-block-start: var(--space-s);
    text-wrap: pretty;
  }

  h1 {
    display: inline-flex;
    font: var(--font-title);
    gap: var(--space-2xs);
  }
}

.footer + .header {
  margin-block-start: 0;
}
