.header {
  border-image: url("/assets/vectors/dots.svg") fill 15 / 15px /
    calc(var(--gap) / 2) 100vw var(--gap) var(--gap) space;
  max-inline-size: var(--line-measure);

  flow-content {
    color: var(--color-neutral-dark);
    margin-block-start: var(--space-s);
    text-wrap: pretty;
  }

  h1 {
    display: inline-flex;
    font: var(--font-title);
    gap: var(--space-xs);

    svg {
      flex-shrink: 0;
      inset-block-end: -0.1em;
      position: relative;
    }
  }
}

.footer + .header {
  margin-block-start: 0;
}
