.items {
  display: grid;
  gap: calc(var(--space-gutter) * 1.5);
  grid-template-columns: repeat(auto-fit, minmax(var(--grid-size), 1fr));

  &:has(.card) {
    --grid-size: clamp(1rem, 100%, 18rem);

    gap: var(--space-gutter);
  }

  &:has(.card[data-type="archive"]) {
    --grid-size: clamp(1rem, 100%, 9rem);
  }
}

.items__item {
  container-type: inline-size;
  display: flex;

  li img {
    aspect-ratio: 1;
    object-fit: cover;
  }
}

@media (--upto-medium-viewport) {
  .items[data-scrollable="true"] {
    display: flex;
    inline-size: 100vw;
    margin: calc(var(--space-gutter) * -1);
    -webkit-overflow-scrolling: touch;
    overflow-x: scroll;
    padding: var(--space-gutter);

    .items__item {
      flex: 1 0 75vw;
      max-inline-size: var(--grid-size);
    }
  }
}
