.items {
  display: grid;
  gap: var(--space-m-l) var(--gap);
  grid-template-columns: repeat(auto-fit, minmax(var(--grid-size), 1fr));

  &:has(.card) {
    grid-gap: var(--gap);
  }

  &:has(.card[data-type^="photo"]) {
    @media (--upto-medium-viewport) {
      --gap: var(--border-width-thin);

      grid-template-columns: repeat(
        auto-fit,
        minmax(calc(33% - calc(var(--border-width-thin) * 2)), 1fr)
      );
      margin-inline: calc(var(--space-s-m) * -1);
    }
  }
}

.items__item {
  display: flex;
}

@media (--upto-medium-viewport) {
  .items--scrollable[role="list"] {
    display: flex;
    gap: var(--gap);
    inline-size: 100vw;
    margin: calc(var(--gap) * -1);
    -webkit-overflow-scrolling: touch;
    overflow-x: scroll;
    padding: var(--gap);
  }

  .items--scrollable .items__item {
    flex: 1 0 75vw;
    max-inline-size: var(--grid-size);
  }
}
