.item {
  container-type: inline-size;
  display: flex;
  flex: 1;
  flex-direction: column;

  flow-content {
    --flow-space: var(--space-2xs);

    color: var(--color-text-secondary);
  }

  header {
    font: var(--font-heading);
  }

  footer {
    align-items: center;
    color: var(--color-accent-on-background);
    display: inline-flex;
    font: var(--font-caption);
    order: -1;
  }

  svg {
    margin-inline: var(--space-2xs);
  }
}

/* Comment item adaptions */
.item--comment {
  padding-inline-start: calc(var(--avatar-size) + var(--space-s));
  position: relative;

  .avatar {
    inset: 0;
    position: absolute;
  }
}
