.item {
  border-block-start: var(--border-rule-thick);
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: var(--space-2xs);
  padding-block-start: var(--space-2xs);
  position: relative;

  flow-content {
    --linear-flow-space: var(--space-xs);
    --linear-line-height: var(--line-height-loose);
  }

  header + flow-content {
    color: var(--color-text-secondary);
  }

  footer {
    --anchor-decoration: none;

    color: var(--color-text-secondary);
    font: var(--font-meta);
  }

  h3 {
    --anchor-decoration: none;

    font: var(--font-heading);

    a {
      align-items: center;
      display: inline-flex;
      gap: var(--space-2xs);
    }
  }
}

/* Comment item adaptions */
.item--comment {
  padding-inline-start: calc(var(--space-l) + var(--gap));

  .avatar {
    inset-block-start: var(--space-2xs);
    inset-inline-start: 0;
    position: absolute;
  }
}
