.items {
  display: grid;
  gap: var(--space-m-l) var(--gap);
  grid-template-columns: repeat(auto-fit, minmax(var(--grid-size), 1fr));

  &:has(.card) {
    grid-gap: var(--gap);
  }
}

@media (--from-medium-viewport) {
  .items__item:not(:has(.card__image--photo)) {
    max-inline-size: calc(var(--grid-size) * 1.5);
  }
}

@media (--upto-medium-viewport) {
  .items:has(.card__image--photo) {
    --gap: var(--border-width-rule);

    grid-template-columns: repeat(
      auto-fit,
      minmax(calc(33% - calc(var(--border-width-rule) * 2)), 1fr)
    );
    margin-inline: calc(var(--space-s-m) * -1);
  }
}

.items:has(.card__image--photo) img {
  aspect-ratio: 1;
  object-fit: cover;
}

.items__item {
  display: flex;
}
