.main {
  --anchor-decoration: underline;

  align-content: start;
  border-image-outset: 0 0 0 100vw;
  border-image-slice: fill 0;
  border-image-source: conic-gradient(var(--color-background) 0 0);
  display: flex;
  flex: 1;
  flex-direction: column;
  padding-block: var(--gap);
  row-gap: var(--space-m-l);

  @media (--from-medium-viewport) {
    display: grid;
    grid-template-columns:
      [container-start] auto
      [content-start] 1fr [content-end]
      auto [container-end];
  }

  > h1 + flow-content {
    color: var(--color-neutral-dark);
    text-wrap: pretty;
  }

  > h1 {
    font: var(--font-title);
    grid-area: title;
    grid-column: content-end;
    grid-row: 1;
    margin-block-end: var(--gap);

    @media (--from-medium-viewport) {
      inline-size: 1px; /* Force stickiness */
      inset-inline-start: var(--gap);
      position: sticky;
      writing-mode: vertical-rl;
    }
  }

  > * {
    grid-column: content;
  }
}
