.main {
  align-content: start;
  border-image-outset: 0 0 0 100vw;
  border-image-slice: fill 0;
  border-image-source: conic-gradient(var(--color-surface-bright) 0 0);
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: calc(var(--space-gutter) * 1.5) var(--space-gutter);
  padding-block: var(--space-gutter);

  @media (--from-medium-viewport) {
    display: grid;
    grid-template-columns: [--content-start] 1fr [--content-end];
  }

  > h1 + flow-content {
    color: var(--color-on-surface-variant);
    text-wrap: pretty;
  }

  > h1 {
    font: var(--font-title);
    grid-column: --content-end;
    grid-row: 1;

    @media (--from-medium-viewport) {
      inline-size: 1px; /* Force stickiness */
      inset-inline-start: var(--space-gutter);
      position: sticky;
      writing-mode: vertical-rl;
    }
  }

  > * {
    grid-column: --content;
  }
}
