.navigation {
  display: flex;
  flex-wrap: wrap;
  margin-inline-start: calc(var(--space-inset) * -1);

  @media print {
    display: none;
  }

  a {
    display: inline-flex;
    gap: var(--space-inline);
    padding: var(--space-inset);
  }
}
