.navigation {
  display: flex;
  flex-wrap: wrap;
  margin-inline-start: calc(var(--space-xs) * -1);
  min-inline-size: fit-content;

  @media print {
    display: none;
  }

  a {
    display: inline-flex;
    gap: var(--space-2xs);
    padding-block: var(--space-2xs);
    padding-inline: var(--space-xs);
  }
}
