.pagination {
  --anchor-decoration: none;

  border-block-start: var(--border-rule);
}

.pagination__items {
  display: flex;
  flex: 1;
}

.pagination a {
  align-items: center;
  display: flex;
  padding: var(--space-s);
}

.pagination a[rel~="prev"],
.pagination a[rel~="next"] {
  margin-inline-start: calc(var(--space-s) * -1);
}

.pagination a[rel~="prev"]::before,
.pagination a[rel~="next"]::after {
  block-size: var(--space-2xs);
  border-style: solid;
  content: "";
  inline-size: var(--space-2xs);
  margin-inline: var(--space-2xs);
  transform: rotate(-45deg);
}

.pagination a[rel="prev"]::before {
  border-width: var(--border-width-rule) 0 0 var(--border-width-rule);
}

.pagination a[rel="next"]::after {
  border-width: 0 var(--border-width-rule) var(--border-width-rule) 0;
}
