.pagination {
  --anchor-decoration: none;

  border-block-start: var(--border-rule-thick);
  display: flex;
  flex: 1;
}

.pagination a {
  align-items: center;
  display: flex;
  font-size: var(--font-size-m);
  padding: var(--space-s);

  &:first-of-type {
    margin-inline-start: calc(var(--space-s) * -1);
  }
}

.pagination a[rel="prev"]::before {
  content: "\2190\a0" / "";
  font-family: system-ui, sans-serif;
}

.pagination a[rel="next"]::after {
  content: "\a0\2192" / "";
  font-family: system-ui, sans-serif;
}
