img[src*="?screenshot"] {
  background-color: var(--color-primary);
  border-image-slice: 5 20 20 5;
  border-image-source: url("/assets/vectors/shadow.svg");
  border-style: solid;
  border-width: var(--space-gutter);

  @media (prefers-color-scheme: dark) {
    filter: initial;
  }

  @media print {
    background: none;
    border: none;
  }
}
