.skip-link {
  --anchor-decoration: underline;
  --color-link-underline: currentcolor;

  background-color: var(--color-focus);
  color: var(--color-text-focus);
  outline-offset: 0;
  padding: var(--space-s);
  position: static;
  width: 100%;

  &:not(:focus-within) {
    transform: translateY(-100%);
    transition: transform 0.5s ease-out;
  }
}
