.slide {
  align-items: start;
  background: var(--color-surface);
  border-radius: var(--border-radius-large);
  display: flex;
  flex-flow: row wrap;
  margin-inline: calc(var(--space-s) * -1);
  max-inline-size: unset;
  padding: var(--space-s);

  img {
    border-radius: var(--border-radius-small);
    flex-grow: 1;
    inline-size: 30rem;
    outline: var(--border-width-thick) solid var(--color-shadow);
    outline-offset: calc(var(--border-width-thick) * -1);
    position: relative;
  }

  figcaption {
    flex-basis: 0;
    flex-grow: 999;
    min-inline-size: 40%;
  }
}
