.trips {
  overflow-x: auto;

  & table {
    white-space: nowrap;
  }

  & caption {
    caption-side: top;
    color: var(--color-neutral-dark);
    font-size: var(--font-size-m);
  }

  & * th:first-child {
    inline-size: calc(var(--logo-inline-size) + var(--gap));
  }

  & svg {
    margin-block-end: -0.15em;
  }
}
