.trips {
  caption {
    caption-side: top;
    color: var(--color-neutral-dark);
    font: var(--font-subhead);
  }

  th:has(time) {
    color: var(--color-neutral-dark);
    font: var(--font-meta);
  }

  * th:first-child,
  * th:last-child {
    vertical-align: middle;
    inline-size: 15%;
  }
}
