.trips {
  caption {
    caption-side: top;
    color: var(--color-neutral-dark);
    font-size: var(--font-size-m);
  }

  time {
    color: var(--color-neutral-dark);
  }

  * th:first-child,
  * th:last-child {
    inline-size: 15%;
  }
}
