{%- assign items = collections.post | includes: 'data.date',month -%}
{%- layout 'default' -%}
{%- block 'main' -%}
  <h1 class="main__title">Archive</h1>
  <div class="main__introduction">{{ title }}</div>
  {%- if items.size > 0 -%}
    {%- render 'items' with items
      item_modifier: 'inline'
    -%}
  {%- else -%}
    {%- render 'content' with 'Nothing was published during this month.' -%}
  {%- endif %}
{%- endblock -%}
