{%- layout 'default' -%}
{%- block 'main' -%}
  {%- render 'footer'
    date: date
    location: location
    canonical: canonical
    sources: sources
  -%}
  {%- render 'header'
    title: title
    summary: false
    vocab: vocab
  -%}
  {%- render 'content' with content -%}
  {%- render 'categories' with category -%}
  {%- render 'remarks' with remarks
    id: 'remarks'
    title: 'Remarks'
  -%}
  {%- render 'remarks' with webmentions
    id: 'webmentions'
    title: 'Webmentions'
  -%}
  {%- for this in collection -%}
    {%- assign related = collections.collection | where: 'fileSlug',this | first -%}
    {%- capture section_title %}More from the <a href="{{ related.url }}">{{ related.data.title }}</a> collection{%- endcapture -%}
    {%- assign articles = collections.article | includes: 'data.collection', this | excludes: 'url',page.url | reverse -%}
    {%- render 'section' with articles
      id: 'related'
      title: section_title
      scrollable: true
      items_component: 'card'
      items_grid_size: '15rem'
      items_limit: 6
    -%}
  {%- endfor -%}
{%- endblock -%}
