{%- layout 'default' -%}
{%- block 'main' -%}
  {%- render 'footer'
    bookmark: bookmark
    date: date
    location: location
    canonical: canonical
    collections: collections
  -%}
  {%- render 'header'
    title: title
    summary: false
    vocab: vocab
  -%}
  {%- render 'content' with content -%}
  {%- render 'categories' with category -%}
  {%- render 'section-remarks' with remarks
    id: 'remarks'
    title: 'Remarks'
    item_modifier: 'inline'
  -%}
  {%- assign webmentions = webmentions.children | webmentions_for_url: bookmark -%}
  {%- render 'section-remarks' with webmentions
    id: 'webmentions'
    title: 'Webmentions'
    item_modifier: 'inline'
  -%}
  {%- for this in collection -%}
    {%- assign related = collections.collection | where: 'fileSlug',this | first -%}
    {%- capture title %}More from the <a href="{{ related.url }}">{{ related.data.title }}</a> collection{%- endcapture -%}
    {%- assign articles = collections.article | includes: 'data.collection', this | excludes: 'url',page.url | reverse -%}
    {%- render 'section' with articles
      id: 'related'
      title: title
      scrollable: true
      items_limit: 6
      grid_size: '16rem'
      component: 'card'
    -%}
  {%- endfor -%}
{%- endblock -%}
