{%- layout 'default' -%}
{%- block 'main' -%}
  {%- render 'footer'
    date: date
    location: location
    canonical: canonical
    collections: collections
  -%}
  {%- render 'header'
    title: title
    summary: false
  -%}
  {%- render 'content' with content -%}
  {%- render 'categories' with category -%}
  {%- if remarks.size > 0 -%}
    {%- render 'section-remarks' with remarks
      id: 'remarks'
      title: 'Remarks'
      item_modifier: 'inline'
    -%}
  {%- endif -%}
  {%- assign webmentions = webmentions.children | webmentions_for_url: target -%}
  {%- if webmentions.size > 0 -%}
    {%- render 'section-remarks' with webmentions
      id: 'webmentions'
      title: 'Webmentions'
      item_modifier: 'inline'
    -%}
  {%- endif -%}
  {%- if collection -%}
    {%- for this_collection in collection -%}
      {%- assign related = collections.collection | where: 'fileSlug',this_collection | first -%}
      {%- capture title %}More from the <a href="{{ related.url }}">{{ related.data.title }}</a> collection{%- endcapture -%}
      {%- assign articles = collections.article | related: this_collection,page | reverse -%}
      {%- if articles.size > 0 %}
        {%- render 'section' with articles
          id: 'related'
          title: title
          scrollable: true
          items_limit: 6
          grid_size: '16rem'
          component: 'card'
        -%}
      {%- endif -%}
    {%- endfor -%}
  {%- endif -%}
{%- endblock -%}
