---
layout: default.liquid
---
{%- render 'footer'
  properties: properties
-%}
{%- render 'header'
  properties: properties
-%}
<flow-content class="e-content">{{ content }}</flow-content>
{%- render 'meta'
  comments_meta: comments_meta
  properties: properties
-%}
{%- for tag in tags -%}
  {%- assign collection = collections.collection | where: 'data.page.fileSlug',tag | first -%}
  {%- if collection -%}
    {%- capture sectionTitle %}More from the <a href="{{ collection.url }}">{{ collection.data.title }}</a> collection{%- endcapture -%}
    {%- assign articles = collections.article | includes: 'data.tags', tag | excludes: 'url',page.url -%}
    {%- render 'section' with articles
      id: 'related'
      title: sectionTitle
      scrollable: true
      itemsComponent: 'card'
      itemsGridSize: '15rem'
      itemsLimit: 3
    -%}
  {%- endif -%}
{%- endfor -%}
