---
layout: default.liquid
---
{% render "footer", properties: properties %}

{% render "header", properties: properties %}

<flow-content class="e-content">
  {{ content }}
</flow-content>

{% render "meta", properties: properties, commentsMeta: commentsMeta %}

{%- for tag in tags -%}
  {%- assign collection = collections.collection | find: "data.page.fileSlug",tag -%}
  {%- if collection -%}
    {%- capture title %}More from the <a href="{{ collection.url }}">{{ collection.data.title }}</a> collection{%- endcapture -%}
  {%- else -%}
    {% assign title = "More from this collection" %}
  {%- endif -%}
  {%- assign articles = collections.article | siblings: tag -%}
  {%- if articles.length -%}
    {%- render "section" with articles
      title: title
      scrollable: true
      itemsComponent: "card"
      itemsLimit: 3
    -%}
  {%- endif -%}
{%- endfor -%}
