{%- capture target -%}{{ page.url | prepend: app.url | pretty }}{%- endcapture -%}
{%- assign webmentions = webmentions.children | webmentions_for_url: target -%}
{%- layout 'default' -%}
{%- block 'main' -%}
  {%- include 'footer' -%}
  {%- include 'header' summary: false -%}
  {%- include 'content' -%}

  {%- if webmentions.size > 0 -%}
    {%- include 'section-webmentions'
      items: webmentions
      item_modifier: 'inline'
    -%}
  {%- endif -%}

  {%- if discussion -%}
    {%- capture remarks_link %}[View remarks on this entry]({{ page.url | pretty }}/discussion){% endcapture -%}
    {%- include 'section'
      section_id: 'dicussion'
      section_title: 'Discussion'
      section_content: remarks_link
    -%}
    {%- if discussion == 'open' -%}
      {%- include 'form/remark' -%}
    {%- endif -%}
  {%- endif -%}

  {%- if collection -%}
    {%- for this_collection in collection -%}
      {%- for item in collections.collection -%}
        {%- if this_collection == item.fileSlug -%}
          {%- capture section_title %}More from the <a href="{{ item.url }}">{{ item.data.title }}</a> collection{%- endcapture -%}
        {%- endif -%}
      {%- endfor -%}
    {%- endfor -%}

    {%- assign articles = collections.article | includes: 'data.collection',collection | reject: 'url',page.url | reverse -%}
    {%- include 'section'
      section_id: 'related'
      section_scrollable: true
      items: articles
      items_limit: 6
      items_size: '16rem'
      items_component: 'card'
      card_image_color: true
    -%}
  {%- endif -%}
{%- endblock -%}
