{%- layout 'default' -%}
{%- block 'main' -%}
  {%- render 'footer'
    date: date
  -%}
  {%- render 'header'
    title: title
    summary: false
    url: bookmark_of
    url_class: 'bookmark-of'
    vocab: vocab
  -%}
  {%- if bookmark_of -%}
    {%- capture content -%}
      <p><a href="{{ bookmark_of }}">Watch ‘{{ title }}’</a></p>
      {{ content }}
    {%- endcapture -%}
  {%- endif -%}
  {%- render 'content' with content -%}
  {%- render 'meta'
    categories: category
    syndication: syndication
  -%}
  {%- render 'remarks' with webmentions
    id: 'webmentions'
    title: 'Webmentions'
  -%}
{%- endblock -%}
