---
layout: default.liquid
---
<h1>{{ title }}</h1>

{%- if summary -%}
<flow-content data-font-size="large">
  {{ summary | markdown }}
</flow-content>
{%- endif -%}

{%- if trips -%}
  {%- render "trips" with collections.trip -%}
{%- endif %}

{%- if featured -%}
  {%- render "section" with collections[featured.collection]
    title: featured.title
    scrollable: true
    itemsComponent: "card"
    itemsLimit: featured.limit
  -%}
{%- endif %}

{%- if pagination.items -%}
  {%- render "section" with pagination.items
    title: sectionTitle
    itemsComponent: pagination.component
  -%}
{%- endif %}

{% render "pagination" with pagination %}
