---
layout: default.liquid
---
<h1>{{ title }}</h1>
{%- if summary -%}
<flow-content data-font-size="large">
  {{ summary | markdown }}
</flow-content>
{%- endif -%}
{%- if featured -%}
  {%- render 'section' with collections[featured.collection]
    id: 'featured'
    title: featured.title
    scrollable: true
    itemsComponent: 'card'
    itemsGridSize: '18rem'
    itemsLimit: featured.limit
    itemsHideFooter: featured.itemsHideFooter
  -%}
{%- endif %}
{%- render 'section' with pagination.items
  id: 'recent'
  title: sectionTitle
  itemsComponent: pagination.component
  itemsGridSize: pagination.gridSize
  itemsHideFooter: pagination.itemsHideFooter
-%}
{%- render 'pagination' with pagination -%}
