---
layout: default.liquid
---
{% render "footer",
  title: title,
  published: published
%}

{% render "header",
  title: title,
  summary: summary
%}

<flow-content class="e-content">
  {% assign related = collections.itinerary | find: "data.id", tags[0] -%}
  <p>Part of a journey to <a href="{{ related.url }}">{{ related.data.title }}</a>.</p>
  {% render "itinerary" with itinerary %}
</flow-content>
