---
layout: default.liquid
---
{%- assign related = collections.itinerary | find: 'data.id',tags[0] -%}
{%- render 'footer'
  properties: properties
-%}
{%- render 'header'
  properties: properties
-%}
{%- capture content -%}
  <p>Part of a journey to <a href="{{ related.url }}">{{ related.data.title }}</a>.</p>
  {%- render 'route-map'
    alignment: 'bleed',
    geojson: geojson,
    outputDir: page.url
  -%}
  {%- render 'itinerary' with itinerary -%}
{%- endcapture -%}
<flow-content class="e-content">{{ content }}</flow-content>
