{%- assign related = collections.itinerary | includes: 'data.trip_id',uid | first -%}
{%- assign formattedTitle = title | replace: ' ➔ ','\n➔ ' -%}
{%- layout 'default' -%}
{%- block 'main' -%}
  {%- render 'footer'
    date: start
  -%}
  {%- render 'header'
    title: formattedTitle
    summary: summary
    vocab: vocab
  -%}
  {%- capture content -%}
    <p>Part of a journey to <a href="{{ related.url }}">{{ related.data.title }}</a>.</p>
    {%- capture caption -%}
      {%- render 'itinerary' with stops -%}
    {%- endcapture -%}
    {%- render 'map' with geojson
      alignment: 'bleed',
      caption: caption
    -%}
    {{ trip.content | markdown }}
  {%- endcapture -%}
  {%- render 'content' with content -%}
{%- endblock -%}
