---
layout: default.liquid
---
{%- assign related = collections.itinerary | includes: 'data.trip_id',id | first -%}
{%- assign formattedTitle = title | replace: ' ➔ ','\n➔ ' -%}
{%- render 'footer'
  published: published
-%}
{%- render 'header'
  title: formattedTitle
  summary: summary
  vocabulary: vocabulary
-%}
{%- capture content -%}
  <p>Part of a journey to <a href="{{ related.url }}">{{ related.data.title }}</a>.</p>
  {%- capture caption -%}
    {%- render 'itinerary' with itinerary -%}
  {%- endcapture -%}
  {%- render 'route-map'
    alignment: 'bleed',
    caption: caption,
    geojson: geojson,
    outputDir: page.url
  -%}
  {{ trip.content | markdown }}
{%- endcapture -%}
{%- render 'content' with content -%}
