.s-linear {
  --color-link-underline: var(--color-neutral);
  --flow-inset: var(--font-size-m);
  --linear-flow-space: 1em;
  --linear-font-size: var(--font-size-m);
  --linear-line-height: var(--line-height-prose);
  --linear-line-measure: var(--line-measure);
}

.s-linear > * {
  font-size: var(--linear-font-size);
  line-height: var(--linear-line-height);
  max-inline-size: var(--linear-line-measure);
  word-break: break-word;
}

.s-linear * + * {
  margin-block-start: var(--linear-flow-space);
}

.s-linear > hr {
  border-block-end: var(--border-width-thick) solid var(--color-accent);
  inline-size: calc(33% - calc(var(--gap) / 2));
  margin-block: calc(var(--linear-flow-space) * 3);
  margin-inline-start: 0;
}

.s-linear .align-pull,
.s-linear .align-start,
.s-linear .align-end {
  margin-block-start: 0; /* Revert */
}

.s-linear :is(caption, figcaption) {
  color: var(--color-neutral-dark);
  font-size: var(--font-size-s);
  line-height: var(--line-height-loose);
  padding-block-start: var(--space-2xs);
}

.s-linear :is(p, dl, ol, ul, address) {
  font-variant: oldstyle-nums;
  hyphens: auto;
  word-spacing: var(--word-spacing);
}

.s-linear > aside :is(p, dl, ol, ul, address) {
  --flow-inset: 0;
  color: var(--color-neutral-dark);
  font-size: var(--font-size-s);
}

.s-linear blockquote {
  border-inline-start: var(--border-width-thicker) solid var(--color-accent);
  margin-inline-start: 0;
  padding-inline-start: var(--flow-inset);
}

.s-linear blockquote li {
  list-style-position: outside;
  margin-inline-start: var(--flow-inset);
}

.s-linear pre {
  background-color: var(--color-offset);
  border-radius: var(--border-radius);
  display: block;
  font-size: var(--font-size-s);
  overflow-x: scroll;
  padding: var(--space-s);
}

.s-linear table {
  font-size: var(--font-size-s);
  inline-size: 100%;
  max-inline-size: 100%;
}

.s-linear th,
.s-linear td {
  padding: var(--space-s);
  padding-block-end: 1em;
  padding-inline-start: 0;
}

.s-linear tbody th,
.s-linear tbody td {
  border-block-start: var(--border-width-thin) solid var(--color-rule);
}

.s-linear tbody th {
  color: var(--color-neutral);
}

.s-linear * + pre,
.s-linear * + aside,
.s-linear * + blockquote,
.s-linear * + figure,
.s-linear * + table {
  margin-block-start: calc(var(--linear-flow-space) * 3);
}

.s-linear pre:not(:last-child),
.s-linear aside:not(:last-child),
.s-linear blockquote:not(:last-child),
.s-linear figure:not(:last-child),
.s-linear table:not(:last-child) {
  margin-block-end: calc(var(--linear-flow-space) * 3);
}

.s-linear h2:not([class]) {
  --linear-flow-space: 2em;

  font-size: var(--font-size-xl);
  font-weight: 500;
  line-height: var(--line-height-tight);
}

.s-linear h3:not([class]) {
  --linear-flow-space: 1.5em;

  font-size: var(--font-size-l);
  line-height: var(--line-height-tight);
}

.s-linear h4:not([class]) {
  color: var(--color-neutral-dark);
  margin-block-end: calc(var(--linear-flow-space) * -0.5);
}

.s-linear li :is(ol, ul) {
  margin-block-start: var(--linear-flow-space);
}

@media (--upto-large-viewport) {
  .s-linear :is(ol, ul) {
    list-style-position: inside;
  }
}

@media (--from-large-viewport) {
  .s-linear :is(ol, ul) {
    padding-inline-start: 0;
  }
}

.s-linear :is(ol, ul) :is(ol, ul) {
  padding-inline-start: var(--flow-inset);
}

.s-linear dt + dd {
  margin-block-start: 0;
}

.s-linear dt,
.s-linear strong {
  font-weight: 500;
}

.s-linear small {
  font-size: var(--font-size-s);
}

.s-linear img {
  margin-block-start: 0;
}

.s-linear code {
  background-color: var(--color-offset);
}

.s-linear :not(pre) code,
.s-linear samp {
  border-radius: var(--border-radius);
  padding: var(--text-spacing);
}

.s-linear pre code {
  padding: 0;
}

.s-linear samp {
  border: var(--border-width-thin) solid var(--color-offset);
}

.s-linear .footnotes {
  font-size: var(--font-size-s);
}

.s-linear .footnotes :target {
  color: var(--color-text);
}

.s-linear .footnote-ref {
  font-variant: tabular-nums;
  padding: var(--text-spacing);
}

.s-linear .footnote-backref {
  align-items: baseline;
  background-color: var(--color-offset);
  block-size: 1.5em;
  border-radius: 100%;
  display: inline-flex;
  inline-size: 1.5em;
  justify-content: center;
  line-height: 1.6667em;
  margin: 0;
  text-decoration: none;
}

.s-linear .footnote-backref:hover {
  background-color: var(--color-accent);
  color: var(--color-background);
}
