.s-linear {
  @extend %body;

  --flow-inset: 1.25em;
  --list-display: list-item;
  --linear-measure: var(--line-measure);
}

.s-linear > * {
  max-inline-size: var(--linear-measure);
  word-break: break-word;
}

.s-linear * + * {
  margin-block-start: var(--flow-space);
}

.s-linear > hr {
  border-block-end: var(--border-width-thick) solid var(--color-rule);
  inline-size: calc(33% - calc(var(--gap) / 2));
  margin-block: var(--gap);
  margin-inline-start: 0;
}

.s-linear pre,
.s-linear aside,
.s-linear blockquote,
.s-linear figure,
.s-linear table {
  margin-block: var(--gap);
}

.s-linear .align-pull,
.s-linear .align-start,
.s-linear .align-end {
  margin-block-start: var(--flow-space); /* Revert */
}

.s-linear :--caption {
  @extend %caption;
  padding-block-start: var(--space-block);
}

.s-linear > aside :--flow {
  @extend %caption;

  --list-display: block;
  --flow-inset: 0;
  color: var(--color-neutral-dark);
}

.s-linear blockquote {
  border-inline-start: var(--border-width-thicker) solid var(--color-accent);
  margin-inline-start: 0;
  padding-inline-start: var(--flow-inset);
}

.s-linear blockquote li {
  list-style-position: outside;
  margin-inline-start: var(--flow-inset);
}

.s-linear pre {
  background-color: var(--color-offset);
  border-radius: var(--border-radius);
  display: block;
  font-size: var(--step-0);
  overflow-x: scroll;
  padding: var(--inset-small);
}

.s-linear table {
  font-size: var(--step-0);
  inline-size: 100%;
  max-inline-size: 100%;
}

.s-linear th,
.s-linear td {
  padding: var(--inset-small-squished);
  padding-block-end: 1em;
}

.s-linear tr *:first-child {
  padding-inline-start: 0;
}

.s-linear tbody th,
.s-linear tbody td {
  border-block-start: var(--border-width-thin) solid var(--color-rule);
}

.s-linear tbody th {
  color: var(--color-neutral);
}

.s-linear h2:not([class]) {
  @extend %heading;
}

.s-linear h3:not([class]) {
  @extend %subhead;
}

.s-linear h4:not([class]) {
  color: var(--color-neutral-dark);
  margin-block-end: calc(var(--flow-space) * -0.5);
}

.s-linear li :--list {
  margin-block-start: var(--flow-space);
}

@media (--upto-large-viewport) {
  .s-linear :--list {
    list-style-position: inside;
  }
}

@media (--from-large-viewport) {
  .s-linear :--list {
    padding-inline-start: 0;
  }
}

.s-linear :--list :--list {
  padding-inline-start: var(--flow-inset);
}

.s-linear dt + dd {
  margin-block-start: 0;
}

.s-linear dt,
.s-linear strong {
  font-weight: 500;
}

.s-linear small {
  font-size: var(--step-0);
}

.s-linear img {
  margin-block-start: 0;
}

.s-linear code {
  background-color: var(--color-offset);
}

.s-linear :not(pre) code,
.s-linear samp,
.s-linear del,
.s-linear ins {
  border-radius: var(--border-radius);
  padding: var(--text-spacing);
}

.s-linear samp {
  border: var(--border-width-thin) solid var(--color-offset);
}

.s-linear .footnotes {
  @extend %caption;
}

.s-linear .footnotes :target {
  color: var(--color-text);
}

.s-linear .footnote-ref {
  font-variant: tabular-nums;
  padding: var(--text-spacing);
}

.s-linear .footnote-backref {
  align-items: baseline;
  background-color: var(--color-offset);
  block-size: 1.5em;
  border-radius: 100%;
  display: inline-flex;
  inline-size: 1.5em;
  justify-content: center;
  line-height: 1.6667em;
  text-decoration: none;
}

.s-linear .footnote-backref:hover {
  background-color: var(--color-accent);
  color: var(--color-background);
}
