:root {
  /* Neutral palette */
  --color-neutral: oklch(56% 0.0075 288deg);
  --color-neutral-darkest: oklch(from var(--color-neutral) calc(l - 0.4) c h);
  --color-neutral-darker: oklch(from var(--color-neutral) calc(l - 0.3) c h);
  --color-neutral-dark: oklch(from var(--color-neutral) calc(l - 0.1) c h);
  --color-neutral-light: oklch(from var(--color-neutral) calc(l + 0.1) c h);
  --color-neutral-lighter: oklch(from var(--color-neutral) calc(l + 0.3) c h);
  --color-neutral-lightest: oklch(from var(--color-neutral) calc(l + 0.4) c h);

  /* Primary palette */
  --color-primary: var(--color-accent, oklch(50% 0.25 264deg));
  --color-primary-on-surface: oklch(
    from var(--color-primary) calc(l - 0.3) c h
  );

  /* Focus palette */
  --color-focus: oklch(80% 0.1667 72deg);
  --color-on-focus: var(--color-neutral-darkest);

  /* Colour assignments */
  --color-surface-bright: white;
  --color-surface: var(--color-neutral-lightest);
  --color-on-surface: var(--color-neutral-darker);
  --color-on-surface-variant: var(--color-neutral-dark);
  --color-inverse-surface: var(--color-neutral-darker);
  --color-on-inverse-surface: var(--color-neutral-lighter);
  --color-on-inverse-surface-bright: white;
  --color-highlight: oklch(from var(--color-primary) l c h / 25%);
  --color-outline: var(--color-neutral-lighter);
  --color-shadow: hsl(from var(--color-neutral-darkest) h s l / 10%);
  --color-link: var(--color-primary-on-surface);
  --color-link-underline: var(--color-neutral-light);

  /* Typography */
  --font-family-sans: "Söhne", sans-serif;
  --font-family-monospace: "Söhne Mono", monospace;
  --line-height-tight: 1.2;
  --line-height-loose: 1.4;
  --line-height-prose: clamp(1.4em, 3cqi, 1.6em);
  --measure: 48rem;
  --text-spacing: 0 0.25em 0.125em 0.25em;
  --word-spacing: 0;

  /*
   * Fluid type scale
   */
  --font-size-base: 1.125rem; /* 18px */
  --font-size-s: clamp(1.125rem, 0.5vi + 1rem, 1.3125rem); /* 18 - 21 */
  --font-size-m: clamp(1.125rem, 0.5vi + 1rem, 1.5rem); /* 18 - 24 */
  --font-size-l: clamp(1.5rem, 1vi + 1.25rem, 1.6875rem); /* 24 - 27 */
  --font-size-xl: clamp(1.5rem, 1vi + 1.25rem, 2.25rem); /* 24 - 36 */
  --font-size-2xl: clamp(1.6875rem, 2vw + 1.5rem, 3.5rem); /* 27 - 56 */

  /* Font styles */
  --font-title: 500 var(--font-size-2xl) / var(--line-height-tight)
    var(--font-family-sans);
  --font-heading: 500 var(--font-size-xl) / var(--line-height-tight)
    var(--font-family-sans);
  --font-subhead: 500 normal var(--font-size-l) / var(--line-height-tight)
    var(--font-family-sans);
  --font-lede: normal var(--font-size-xl) / var(--line-height-tight)
    var(--font-family-sans);
  --font-body: normal var(--font-size-m) / var(--line-height-prose)
    var(--font-family-sans);
  --font-caption: normal var(--font-size-s) / var(--line-height-loose)
    var(--font-family-sans);

  /*
   * Fluid size scale
   * @link https://utopia.fyi/space/calculator/?c=400,15,1.2,1200,16,1.25,5,2,&s=0.75|0.5,1.5|2|3|4|6,m-xl|s-l
   */
  --space-3xs: 0.1875em;
  --space-2xs: 0.5em;
  --space-xs: clamp(0.69rem, calc(0.66rem + 0.13vw), 0.75rem);
  --space-s: clamp(0.94rem, calc(0.91rem + 0.13vw), 1rem);
  --space-m: clamp(1.88rem, calc(1.81rem + 0.25vw), 2rem);

  /* Fluid size scale pairs */
  --space-s-m: clamp(0.94rem, calc(0.41rem + 2.13vw), 2rem);
  --space-m-l: clamp(1.88rem, calc(0.81rem + 4.25vw), 4rem);

  /* Spacing assignments */
  --gap: var(--space-s-m);
  --avatar-size: clamp(3.75rem, calc(3.63rem + 0.5vw), 4rem);

  /* Borders */
  --border-width-focus: 4px;
  --border-width-thin: 1px;
  --border-width-thick: 3.5px;
  --border-radius-large: 1rem;
  --border-radius-small: calc(var(--border-radius-large) / 2);
  --border-rule-thin: var(--border-width-thin) solid var(--color-outline);
  --border-rule-thick: var(--border-width-thick) solid var(--color-outline);

  /* Animation */
  --transition-short: 0.15s;

  /* Indicate the presence of dark mode styles */
  color-scheme: light dark;

  @media (prefers-color-scheme: dark) {
    /* Primary palette */
    --color-primary-on-surface: oklch(
      from var(--color-primary) calc(l + 0.3) c h
    );

    /* Colour assignments */
    --color-surface-bright: var(--color-neutral-darkest);
    --color-surface: var(--color-neutral-darker);
    --color-on-surface: var(--color-neutral-lightest);
    --color-on-surface-variant: var(--color-neutral-lighter);
    --color-shadow: black;

    /* Typography */
    --line-height-prose: clamp(1.4em, 3cqi, 1.8em);
    --word-spacing: 0.025em;
  }
}

[style^="--color-accent-item"] {
  --color-primary: var(--color-accent-item);
  --color-primary-on-surface: oklch(
    from var(--color-primary) calc(l - 0.3) c h
  );
  --color-link: var(--color-primary-on-surface);

  @media (prefers-color-scheme: dark) {
    --color-primary-on-surface: oklch(
      from var(--color-primary) calc(l + 0.3) c h
    );
  }
}
