@custom-media --from-small-viewport (width >= 440px);
@custom-media --upto-medium-viewport (width < 640px);
@custom-media --from-medium-viewport (width >= 640px);
@custom-media --upto-large-viewport (width <= 1024px);
@custom-media --from-large-viewport (width > 1024px);
