:root {
  /* Neutral palette */
  --color-neutral: hsl(240deg 8% 48%);
  --color-neutral-darkest: hsl(from var(--color-neutral) h s 12%);
  --color-neutral-dark: hsl(from var(--color-neutral) h s 40%);
  --color-neutral-light: hsl(from var(--color-neutral) h s 80%);
  --color-neutral-lightest: hsl(from var(--color-neutral) h s 96%);

  /* Accent palette */
  --color-accent-on-background: color-mix(
    in hsl,
    var(--color-accent),
    black 25%
  );

  /* Focus palette */
  --color-focus: hsl(40deg 100% 50%);

  /* Highlight palette */
  --color-highlight: hsl(56deg 100% 50%);

  /* Colour assignments */
  --color-background: white;
  --color-background-photo: hsl(from var(--color-neutral) h s 12%);
  --color-offset: var(--color-neutral-lightest);
  --color-shadow: hsl(from var(--color-neutral-darkest) h s l / 10%);
  --color-text: var(--color-neutral-darkest);
  --color-text-secondary: var(--color-neutral-dark);
  --color-text-focus: hsl(from var(--color-neutral-darkest) h s 0);
  --color-text-photo: hsl(from var(--color-neutral) h s 88%);
  --color-link: var(--color-accent-on-background);
  --color-link-underline: var(--color-neutral-light);

  /* Typography */
  --font-family-sans: "Söhne", sans-serif;
  --font-family-monospace: "Söhne Mono", monospace;
  --line-height-tight: 1.2;
  --line-height-loose: 1.4;
  --line-height-prose: clamp(1.4em, 3cqi, 1.6em);
  --measure: 48rem;
  --text-spacing: 0 0.25em 0.125em 0.25em;
  --word-spacing: 0;

  /*
   * Fluid type scale
   */
  --font-size-base: 1.125rem; /* 18px */
  --font-size-s: clamp(1.125rem, 0.5vi + 1rem, 1.3125rem); /* 18 - 21 */
  --font-size-m: clamp(1.125rem, 0.5vi + 1rem, 1.5rem); /* 18 - 24 */
  --font-size-l: clamp(1.5rem, 1vi + 1.25rem, 1.6875rem); /* 24 - 27 */
  --font-size-xl: clamp(1.5rem, 1vi + 1.25rem, 2.25rem); /* 24 - 36 */
  --font-size-2xl: clamp(1.6875rem, 2vw + 1.5rem, 3.5rem); /* 27 - 56 */

  /* Font styles */
  --font-title: 500 var(--font-size-2xl) / var(--line-height-tight)
    var(--font-family-sans);
  --font-heading: 500 var(--font-size-xl) / var(--line-height-tight)
    var(--font-family-sans);
  --font-subhead: 500 normal var(--font-size-l) / var(--line-height-tight)
    var(--font-family-sans);
  --font-lede: normal var(--font-size-xl) / var(--line-height-tight)
    var(--font-family-sans);
  --font-body: normal var(--font-size-m) / var(--line-height-prose)
    var(--font-family-sans);
  --font-caption: normal var(--font-size-s) / var(--line-height-loose)
    var(--font-family-sans);

  /*
   * Fluid size scale
   * @link https://utopia.fyi/space/calculator/?c=400,15,1.2,1200,16,1.25,5,2,&s=0.75|0.5,1.5|2|3|4|6,m-xl|s-l
   */
  --space-3xs: 0.25em;
  --space-2xs: 0.5em;
  --space-xs: clamp(0.69rem, calc(0.66rem + 0.13vw), 0.75rem);
  --space-s: clamp(0.94rem, calc(0.91rem + 0.13vw), 1rem);
  --space-m: clamp(1.88rem, calc(1.81rem + 0.25vw), 2rem);

  /* Fluid size scale pairs */
  --space-s-m: clamp(0.94rem, calc(0.41rem + 2.13vw), 2rem);
  --space-s-l: clamp(0.94rem, calc(-0.59rem + 6.13vw), 4rem);
  --space-m-l: clamp(1.88rem, calc(0.81rem + 4.25vw), 4rem);

  /* Spacing assignments */
  --gap: var(--space-s-m);
  --avatar-size: clamp(3.75rem, calc(3.63rem + 0.5vw), 4rem);

  /* Borders */
  --border-width-focus: 4px;
  --border-width-thin: 1px;
  --border-width-thick: 3.5px;
  --border-radius-large: 1rem;
  --border-radius-small: calc(var(--border-radius-large) / 2);
  --border-rule-thin: var(--border-width-thin) solid var(--color-offset);
  --border-rule-thick: var(--border-width-thick) solid var(--color-offset);

  /* Animation */
  --transition-short: 0.15s;

  /* Indicate the presence of dark mode styles */
  color-scheme: light dark;

  @media (prefers-color-scheme: dark) {
    /* Neutral palette */
    --color-neutral-darkest: hsl(from var(--color-neutral) h s 96%);
    --color-neutral-dark: hsl(from var(--color-neutral) h s 80%);
    --color-neutral-light: hsl(from var(--color-neutral) h s 24%);
    --color-neutral-lightest: hsl(from var(--color-neutral) h s 16%);

    /* Accent palette */
    --color-accent-on-background: color-mix(
      in hsl,
      var(--color-accent),
      white 33%
    );

    /* Colour assignments */
    --color-background: hsl(from var(--color-neutral-lightest) h s 8%);
    --color-highlight: hsl(240deg 100% 66%);
    --color-shadow: black;

    /* Typography */
    --line-height-tight: calc(1.25em + 0.25vw);
    --line-height-loose: calc(1.5em + 0.25vw);
    --line-height-prose: calc(1.667em + 0.25vw);
    --word-spacing: 0.05em;
  }
}

[style^="--item-accent-color"] {
  --color-accent: var(--item-accent-color);
  --color-accent-on-background: color-mix(
    in hsl,
    var(--item-accent-color),
    black 30%
  );
  --color-link: var(--color-accent-on-background);

  @media (prefers-color-scheme: dark) {
    --color-accent-on-background: color-mix(
      in hsl,
      var(--item-accent-color),
      white 30%
    );
  }
}
