<article class="item item--archive">
  <header>
    <h3>
      <a href="{{ item.url }}">{{ item.data.title }}</a>
    </h3>
  </header>

{%- if item.data.summary -%}
  <flow-content>
    {{ item.data.summary | markdown }}
  </flow-content>
{%- endif -%}
</article>
