<article class="item | h-entry">
  <div class="item__main s-linear | e-content p-name">
    {{ item._templateContent -}}
    {% if item.data.photo %}
      {%- if item.data.photo.size > 1 %}{% assign preset = 'card' %}{% endif -%}
      {%- render 'photos' with item.data.photo
        imageClass: 'u-photo'
        imagePreset: preset | default: false
      -%}
    {% endif %}
  </div>

  <footer class="item__footer">
    <a class="u-url" rel="bookmark" href="{{ item.url }}">
      <time class="dt-published" datetime="{{ item.date | date }}">{{ item.date | date: dates.date_time | replace: ', ','<br>' }}</time>
    </a>
  </footer>
</article>
