<article class="item | h-event" data-type="{{ item.data.type }}">
  <header>
    <h3 class="p-name">
      <a class="u-url" rel="bookmark" href="{{ item.url }}">
        {{- item.data.title | markdown: "inline" -}}
      </a>
    </h3>
  </header>

{%- if item.data.location.name != "false" -%}
  <flow-content class="p-location">
    <p class="h-card">
      at <span class="p-name">{{ item.data.location.name }}</span>,
      {% adr item.data %}
    </p>
  </flow-content>
{%- endif -%}

  <footer>
    {%- datetime item.data -%}
    {%- app_icon item.data.icon item.data.icon_label -%}
  </footer>
</article>
