<article class="item item--{{ item_modifier | default: 'block'}} | h-entry" data-type="photo">
  <a class="item__main | u-url" rel="bookmark" href="{{ item.url | permalink }}">
    {%- include 'image' with item.data.photos[0].url
      alt: item.data.photos[0].alt
      image_class: 'u-photo'
      image_preset: 'square'
    -%}
    {%- if item.data.photos.size > 1 -%}
      <span class="item__icon" aria-label="{{ size }} photos in this post"></span>
    {%- endif -%}
  </a>
</article>
