<article class="item item--{{ modifier | default: 'block'}} | h-entry" data-type="project">
  {%- render 'image' with item.data.image
    class: 'item__image'
    preset: 'thumbnail'
  -%}

  <header class="item__header">
    <h3 class="item__title | p-name">
      <a href="{{ item.data.bookmark }}">{{ item.data.title | markdownify: 'inline' }}</a>
    </h3>
  </header>

{%- if item.data.summary -%}
  <div class="item__main s-linear | p-summary">
    {{ item.data.summary | markdownify }}
  </div>
{%- endif -%}
</article>
