<article class="item item--{{ modifier | default: 'block'}}" data-type="source">
  <header class="item__header">
    <h3 class="item__title">
      <a href="{{ item.url | pretty }}">{{ item.data.title | markdownify: 'inline' }}</a>
    </h3>
  </header>

  <div class="item__main s-linear">
    {{ item.data.summary | markdownify }}
  </div>
</article>
