<figure class="item item--testimonial | h-review">
  <div class="item__main s-linear | e-content p-name">
    <blockquote>
      {{ item.data.content | markdown }}
    </blockquote>
    <figcaption class="p-author h-card">
      <span class="p-name">{{ item.data.name }},</span>
      <span class="p-role">{{ item.data.role }},</span>
      <span class="p-org">{{ item.data.org }}</span>
    </figcaption>
  </div>
</figure>
