bar-chart {
  --bar-chart-color-1: var(--color-primary);
  --bar-chart-color-2: var(--color-highlight);
  --bar-chart-color: var(--color-on-surface);
  --bar-chart-background: var(--color-surface);
}
