flow-content {
  --anchor-decoration: underline;
  --color-link-underline: var(--color-neutral);
  --flow-font: var(--font-body);
  --flow-inset: var(--font-size-m);
  --flow-space: 1em;
  --flow-measure: var(--measure);

  display: block;
  font: var(--flow-font);
  word-break: break-word;

  &[data-font="lede"] {
    --flow-font: var(--font-lede);
  }

  > * {
    max-inline-size: var(--flow-measure);
  }

  > * + * {
    margin-block-start: var(--flow-space);
  }

  hr {
    border-block-end: var(--border-width-thick) solid var(--color-accent);
    inline-size: calc(33% - calc(var(--gap) / 2));
    margin-block: calc(var(--flow-space) * 2);
    margin-inline-start: 0;
  }

  caption,
  figcaption {
    color: var(--color-text-secondary);
    font: var(--font-caption);
  }

  figure {
    display: flex;
    flex-direction: column;
    gap: var(--flow-space) var(--gap);
  }

  figcaption * + * {
    margin-block-start: calc(var(--flow-space) / 2);
  }

  p,
  dl,
  ol,
  ul {
    font-variant: oldstyle-nums;
    word-spacing: var(--word-spacing);
  }

  blockquote {
    border-inline-start: var(--border-width-thick) solid var(--color-accent);
    margin-inline-start: 0;
    padding-inline-start: var(--flow-inset, 1em);
  }

  pre {
    background-color: var(--color-offset);
    display: block;
    margin-inline-start: calc(var(--gap) * -1);
    max-inline-size: unset;
    padding-block: var(--space-s);
    padding-inline: var(--gap);
  }

  th,
  td {
    padding-block: var(--space-xs);
    padding-inline: 0 var(--gap);
  }

  tbody th,
  tbody td {
    border-block-start: var(--border-width-thin) solid
      var(--color-neutral-light);
  }

  table {
    inline-size: var(--flow-measure);
  }

  [style^="--chart-width"] {
    background: linear-gradient(
      to right,
      var(--color-neutral-light) var(--chart-width),
      transparent var(--chart-width)
    );
    display: inline-block;
    inline-size: 100%;
    margin-block: calc(var(--space-s) * -1);
    margin-inline-end: calc(var(--space-s) * -1);
    padding: var(--space-3xs);
    position: relative;
  }

  :is(pre, table):not(:first-child) {
    margin-block-start: calc(var(--flow-space) * 2);
  }

  :is(figcaption, pre, table) {
    margin-block-end: calc(var(--flow-space) * 2);
  }

  h2 {
    font: var(--font-heading);
    margin-block-start: calc(var(--flow-space) * 2);
  }

  h3 {
    font: var(--font-subhead);
    margin-block-start: calc(var(--flow-space) * 2);
  }

  h4 {
    color: var(--color-accent-on-background);
    margin-block: calc(var(--flow-space) * 2) calc(var(--flow-space) * -0.5);
  }

  p > img:only-of-type:first-of-type {
    float: right;
    float: inline-end;
    inline-size: clamp(50%, 9rem, 40vw);
    margin-block-end: var(--flow-space);
    margin-inline-start: var(--space-m);
  }

  ol,
  ul {
    --flow-inset: calc(var(--flow-inset) * 2);
  }

  li:has(p) {
    margin-block-start: calc(var(--flow-space) * 0.5);
  }

  strong {
    font-weight: 500;
  }

  code {
    background-color: var(--color-offset);
  }

  :not(pre) code,
  samp {
    padding: var(--text-spacing);
  }

  ul:has(li > *:is(a > img, figure, img, picture):only-child) {
    --gallery-columns: var(--columns, 1);

    align-items: start;
    display: grid;
    grid-template-columns: 1fr;
    max-inline-size: unset;
    padding-inline: 0;

    @media (--from-medium-viewport) {
      grid-template-columns: repeat(var(--gallery-columns), 1fr);
    }

    &:has(* + *) {
      --gallery-columns: var(--columns, 2);
    }

    &:has(* + * + *) {
      --gallery-columns: var(--columns, 3);
    }

    &:has(* + * + * + *) {
      --gallery-columns: var(--columns, 4);
    }

    &:has(img[src*="#screenshot"]) {
      margin-inline: calc(var(--gap) * -1);

      figcaption {
        padding-inline: var(--gap);
      }
    }

    &:not(:has(img[src*="#screenshot"])) {
      gap: var(--gap);
    }

    img:not([src*="#screenshot"]) {
      inline-size: auto;
      max-block-size: 90vh;
      max-inline-size: 100%;
    }

    li {
      display: flex;
      justify-content: center;
      overflow: hidden;

      &:has(img.u-photo) {
        background-color: var(--color-background-photo);
        border-radius: var(--border-radius-large);
      }
    }
  }
}
