flow-content {
  --color-link-underline: var(--color-neutral);
  --flow-inset: var(--font-size-m);
  --linear-flow-space: 1em;
  --linear-font-size: var(--font-size-m);
  --linear-line-height: var(--line-height-prose);
  --linear-line-measure: var(--line-measure);

  display: block;

  &[data-font-size="large"] {
    --linear-flow-space: var(--space-s);
    --linear-font-size: var(--font-size-l);
    --linear-line-height: var(--line-height-loose);
  }

  & > * {
    font-size: var(--linear-font-size);
    line-height: var(--linear-line-height);
    max-inline-size: var(--linear-line-measure);
    word-break: break-word;
  }

  & > * + * {
    margin-block-start: var(--linear-flow-space);
  }

  & > hr {
    border-block-end: var(--border-width-thick) solid var(--color-accent);
    inline-size: calc(33% - calc(var(--gap) / 2));
    margin-block: calc(var(--linear-flow-space) * 2);
    margin-inline-start: 0;
  }

  & :is(caption, figcaption) {
    color: var(--color-neutral-dark);
    font: var(--font-caption);
  }

  & p + figure {
    padding-block-start: var(--linear-flow-space);
  }

  & figcaption {
    padding-block: var(--linear-flow-space) calc(var(--linear-flow-space) * 2);
  }

  & :is(p, dl, ol, ul, address) {
    font-variant: oldstyle-nums;
    word-spacing: var(--word-spacing);
  }

  & :is(p, dl, ol, ul, address, blockquote):not(:first-child) {
    margin-block-start: var(--linear-flow-space);
  }

  & > aside :is(p, dl, ol, ul, address) {
    --flow-inset: 0;

    color: var(--color-neutral-dark);
    font-size: var(--font-size-s);
    padding-inline-end: var(--gap);
  }

  & blockquote {
    border-inline-start: var(--border-width-thick) solid var(--color-accent);
    margin-inline-start: 0;
    padding-inline-start: var(--flow-inset, 1em);
  }

  & pre {
    --linear-line-measure: auto;

    background-color: var(--color-offset);
    display: block;
    font-size: var(--font-size-s);
    margin-inline-start: calc(var(--gap) * -1);
    padding-block: var(--space-s);
    padding-inline: var(--gap);
  }

  & table:not(:has([style^="--chart-width"])) {
    --linear-line-measure: auto;

    background-attachment: local, local, scroll, scroll;
    background-image: linear-gradient(
        to right,
        var(--color-background),
        var(--color-background)
      ),
      linear-gradient(
        to right,
        var(--color-background),
        var(--color-background)
      ),
      linear-gradient(to right, var(--color-shadow), transparent),
      linear-gradient(to left, var(--color-shadow), transparent);
    background-position:
      left center,
      right center,
      left center,
      right center;
    background-repeat: no-repeat;
    background-size:
      var(--space-2xs) 100%,
      var(--space-2xs) 100%,
      var(--space-2xs) 100%,
      var(--space-2xs) 100%;
    display: inline-block;
    font-size: var(--font-size-s);
    inline-size: 100%;
    overflow-x: auto;
    white-space: nowrap;
  }

  & th,
  & td {
    padding-block: var(--space-s);
    padding-inline: 0 var(--gap);
  }

  & tbody th,
  & tbody td {
    border-block-start: var(--border-width-thin) solid
      var(--color-neutral-light);
  }

  & table:has([style^="--chart-width"]) {
    inline-size: var(--linear-line-measure);
  }

  & [style^="--chart-width"] {
    background: linear-gradient(
      to right,
      var(--color-neutral-light) var(--chart-width),
      transparent var(--chart-width)
    );
    display: inline-block;
    inline-size: 100%;
    margin-block: calc(var(--space-s) * -1);
    margin-inline-end: calc(var(--space-s) * -1);
    padding: var(--space-xs);
    position: relative;
  }

  & :is(aside, pre, table):not(:first-child) {
    margin-block-start: calc(var(--linear-flow-space) * 2);
  }

  & :is(aside, pre, table) {
    margin-block-end: calc(var(--linear-flow-space) * 2);
  }

  & h2:not([class]) {
    font-size: var(--font-size-xl);
    font-weight: 500;
    line-height: var(--line-height-tight);
    margin-block-start: var(--space-m-l);
  }

  & h3:not([class]) {
    font-size: var(--font-size-l);
    line-height: var(--line-height-tight);
    margin-block-start: var(--space-m-l);
  }

  & h4:not([class]) {
    color: var(--color-neutral-dark);
    margin-block-end: calc(var(--linear-flow-space) * -0.5);
  }

  & p > img:only-of-type:first-of-type {
    float: right;
    float: inline-end;
    inline-size: clamp(50%, 9rem, 40vw);
    margin-block-end: var(--linear-flow-space);
    margin-inline-start: var(--space-m);
  }

  & :is(ol, ul) {
    --flow-inset: calc(var(--flow-inset) * 2);
  }

  & strong {
    font-weight: 500;
  }

  dt::before {
    border-color: var(--color-accent);
  }

  & li:has(p) {
    margin-block-start: calc(var(--linear-flow-space) * 0.5);
  }

  & code {
    background-color: var(--color-offset);
  }

  & :not(pre) code,
  & samp {
    font-size: 0.9em;
    padding: var(--text-spacing);
  }

  & pre code {
    padding: 0;
  }

  & ul:has(li > *:is(a > img, figure, img, picture):only-child) {
    --linear-line-measure: auto;

    align-items: start;
    display: grid;
    grid-template-columns: 1fr;
    padding-inline: 0;

    @media (--from-medium-viewport) {
      grid-template-columns: repeat(var(--gallery-columns), 1fr);
    }

    &:has(* + *) {
      --gallery-columns: var(--columns, 2);
    }

    &:has(* + * + *) {
      --gallery-columns: var(--columns, 3);
    }

    &:has(* + * + * + *) {
      --gallery-columns: var(--columns, 4);
    }

    &:not(:has(img[src*="#screenshot"])) {
      gap: var(--space-s);
    }

    img:not([src*="#screenshot"]) {
      inline-size: auto;
      max-block-size: 90vh;
      max-inline-size: 100%;
    }

    li {
      display: flex;
      justify-content: center;
    }

    li:has(.u-photo) {
      background-color: var(--color-background-photo);
    }

    figure:has(img[src*="#screenshot"]) figcaption {
      padding-inline: var(--gap);
    }
  }
}
