visually-hidden:not(:focus-within) {
  block-size: 1px;
  border: 0;
  clip-path: rect(0 0 0 0);
  display: block;
  inline-size: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
}
