/*
 * Embedded content
 * ================
 * https://w3c.github.io/html/semantics-embedded-content
 */

iframe,
img {
  border: 0;
  display: block;
}

iframe {
  inline-size: 100%;
}

img {
  block-size: auto;
  max-inline-size: 100%;

  @media (prefers-color-scheme: dark) {
    filter: brightness(0.8) contrast(1.2);

    &[src$=".svg"] {
      filter: invert(1) grayscale(1) brightness(1.5) contrast(1);
    }
  }
}

svg {
  fill: currentcolor;
}
