/*
 * Embedded content
 * ================
 * https://w3c.github.io/html/semantics-embedded-content
 */

iframe,
img {
  border: 0;
  display: block;
  page-break-inside: avoid;
}

iframe {
  inline-size: 100%;
}

img {
  block-size: auto;
  max-inline-size: 100%;

  @media (prefers-color-scheme: dark) {
    filter: brightness(0.8) contrast(1.2);
  }
}

svg {
  fill: currentcolor;
}
