/*
 * Forms
 * =====
 * https://w3c.github.io/html/sec-forms
 */

/*
 * 1. Reset rounded corners on Safari iOS
 * 2. Reset font properties to `inherit`
 * 3. Consistent outline offset in Safari
 */
button,
input,
textarea {
  color: inherit;
  font: inherit; /* 2 */
  outline-offset: 0; /* 3 */
}
