/*
 * Grouping content
 * ================
 * https://w3c.github.io/html/grouping-content
 */

hr {
  border: 0;
}

pre {
  hyphens: none;
  tab-size: 2;
  white-space: pre-wrap;
}

figure,
blockquote,
dl,
p,
ol,
ul {
  font-feature-settings:
    "ss02" 1,
    "case" 1;
  hanging-punctuation: first;
  margin: 0;
  orphans: 2;
  widows: 2;
}

figcaption {
  text-wrap: pretty;
}

ol[role="list"],
ul[role="list"],
ul[role="listbox"] {
  list-style: none;
  padding-inline-start: var(--flow-inset, 0);
}

dt {
  color: var(--color-on-surface-variant);
  font-variant-caps: all-small-caps;
  font-weight: 500;
  letter-spacing: 0.1ch;
}

dd {
  margin-block-end: var(--flow-space, 1em);
  margin-inline-start: unset;
}
