/*
 * Text-level semantics
 * ====================
 * https://w3c.github.io/html/textlevel-semantics
 */

a {
  color: var(--anchor-color, inherit);
  text-decoration: var(--anchor-decoration, none);
  text-decoration-color: var(--color-link-underline);
  text-decoration-thickness: 1px;
  text-underline-offset: 1.5px;

  &:hover {
    color: var(--color-link);
    text-decoration-color: var(--color-link);
    text-decoration-thickness: 2px;
  }

  &[aria-current],
  &[rel~="home"] {
    font-weight: 500;
  }

  &[rel="prev"]::before {
    content: "\2190\a0" / "";
    font-family: system-ui, sans-serif;
  }

  &[rel="next"]::after {
    content: "\a0\2192" / "";
    font-family: system-ui, sans-serif;
  }

  &[rel="tag"] {
    --anchor-decoration: none;

    background-color: var(--color-surface);
    border-radius: var(--border-radius-large);
    display: inline-flex;
    padding: 0.15em var(--space-xs) 0.35em;
    white-space: nowrap;
  }
}

/* Correct text decoration in Chrome/Edge/IE/Opera/Safari */
abbr[title] {
  text-decoration: none;
}

small {
  font-size: unset;
}

sub {
  font-variant-position: sub;
  line-height: 0;
}

sup {
  font-variant-position: super;
  line-height: 0;
}

:is(h1, h2, h3, h4, h5, h6) cite {
  font-style: initial;
}

code,
samp,
var {
  font-family: var(--font-family-monospace);
  font-style: normal;
  font-variant-numeric: tabular-nums;
}

ins {
  text-decoration: none;
}

mark {
  background-color: var(--color-highlight);
}

time {
  font-variant: tabular-nums;
}
