[style^="--chart-width"] {
  background:
    repeating-linear-gradient(
      to right,
      var(--color-offset),
      var(--color-offset) 1px,
      transparent 1px,
      transparent 5%
    );
  inline-size: 80%;
  padding-inline: var(--space-xs);
  position: relative;
}

[style^="--chart-width"]::before {
  background-color: var(--color-outline);
  content: "";
  display: block;
  inline-size: var(--chart-width);
  inset-block: calc(var(--space-2xs) / 2);
  inset-inline: 0;
  position: absolute;
}
