a[rel~="external"]::after {
  background: url("/assets/vectors/external.svg") no-repeat;
  block-size: var(--space-xs);
  content: "";
  display: inline-block;
  inline-size: var(--space-2xs);
  margin-inline: 0.125em;
  opacity: 0.4;
  vertical-align: baseline;
}

@media (prefers-color-scheme: dark) {
  a[rel~="external"]::after {
    background-image: url("/assets/vectors/external-dark.svg");
  }
}

a[rel~="external"]:hover::after {
  opacity: 1;
}
