/* Bleed alignment */
.align-bleed {
  margin-inline: calc(var(--gap) * -1);
  max-inline-size: unset;

  & > a:first-child,
  & > img:first-child,
  & > picture:first-child {
    grid-column: --bleed;
    inline-size: 100%;
  }

  & figcaption {
    padding-inline: var(--gap);
  }

  @media (--from-medium-viewport) {
    display: grid;
    grid-template-columns: [--bleed-start] auto [--measure] 1fr [--bleed-end];
  }
}

/* Pull alignment */
.align-pull {
  @media (--from-medium-viewport) {
    float: inline-end;
    inline-size: 33%;
    margin-inline: var(--gap) calc(var(--gap) * -1);
  }
}
