/* Bleed alignment */
.align-bleed {
  --linear-line-measure: auto;

  display: grid;
  grid-template-columns: [--bleed-start] minmax(0, var(--linear-line-measure)) [measure] 1fr [--bleed-end];
  margin-inline: calc(var(--gap) * -1);

  & > a:first-child,
  & > img:first-child,
  & > picture:first-child {
    grid-column: --bleed;
    inline-size: 100%;
  }

  & figcaption {
    padding-inline: var(--gap);
  }
}

/* Pull alignment */
@media (--from-medium-viewport) {
  .align-pull {
    float: right; /* Chromium */
    float: inline-end;
    inline-size: 33%;
    margin-block: var(--linear-flow-space) !important;
    margin-inline: var(--gap) calc(var(--gap) * -1);
  }
}
