---
layout: index
title: Subscriptions
introduction: Websites I follow
permalink: subscriptions/
changefreq: monthly
priority: 0.1
eleventyComputed:
  page_title: "{{ introduction }} · {{ app.title }}"
---
{%- assign items = subscriptions -%}
{%- include 'items' with items
  component: 'section'
-%}
<a href="/subscriptions.opml" download>All RSS feeds</a>
