---
date: {{ published }}
{%- if category %}
category:
{%- for item in category %}
- {{ item }}
{%- endfor %}
{%- endif %}
photos:
{%- for item in photo %}
- url: /{{ item.value }}
  alt: {{ item.alt }}
{%- endfor %}
---
{{ content | safe }}
