.s-linear {
  --color-link-underline: var(--color-neutral);
  --flow-inset: var(--font-size-m);
  --linear-flow-space: 1em;
  --linear-font-size: var(--font-size-m);
  --linear-line-height: var(--line-height-prose);
  --linear-line-measure: var(--line-measure);
}

.s-linear > * {
  font-size: var(--linear-font-size);
  line-height: var(--linear-line-height);
  max-inline-size: var(--linear-line-measure);
  word-break: break-word;
}

.s-linear > * + * {
  margin-block-start: var(--linear-flow-space);
}

.s-linear > hr {
  border-block-end: var(--border-width-rule) solid var(--color-accent);
  inline-size: calc(33% - calc(var(--gap) / 2));
  margin-block: calc(var(--linear-flow-space) * 2);
  margin-inline-start: 0;
}

.s-linear :is(caption, figcaption) {
  color: var(--color-neutral-dark);
  line-height: var(--line-height-loose);
}

.s-linear p + figure {
  padding-block-start: var(--linear-flow-space);
}

.s-linear figcaption {
  padding-block: var(--linear-flow-space) calc(var(--linear-flow-space) * 2);
}

.s-linear :is(p, dl, ol, ul, address) {
  font-variant: oldstyle-nums;
  hyphens: auto;
  word-spacing: var(--word-spacing);
}

.s-linear :is(p, dl, ol, ul, address, blockquote):not(:first-child) {
  margin-block-start: var(--linear-flow-space);
}

.s-linear > aside :is(p, dl, ol, ul, address) {
  --flow-inset: 0;

  color: var(--color-neutral-dark);
  font-size: var(--font-size-s);
  padding-inline-end: var(--gap);
}

.s-linear blockquote {
  border-inline-start: var(--border-width-rule) solid var(--color-accent);
  margin-inline-start: 0;
  padding-inline-start: var(--flow-inset, 1em);
}

.s-linear pre {
  --linear-line-measure: auto;

  background-color: var(--color-offset);
  display: block;
  font-size: var(--font-size-s);
  margin-inline-start: calc(var(--gap) * -1);
  padding-block: var(--space-s);
  padding-inline: var(--gap);
}

.s-linear table {
  --linear-line-measure: auto;

  font-size: var(--font-size-s);
  inline-size: 100%;
}

.s-linear th,
.s-linear td {
  padding: var(--space-s);
  padding-block-end: var(--space-s);
  padding-inline-start: 0;
}

.s-linear tbody th,
.s-linear tbody td {
  border-block-start: var(--border-width-rule) solid
    var(--color-neutral-lighter);
}

.s-linear [style^="--chart-width"] {
  background: repeating-linear-gradient(
    to right,
    var(--color-offset),
    var(--color-offset) 1px,
    transparent 1px,
    transparent 5%
  );
  display: inline-block;
  inline-size: 100%;
  margin-block: calc(var(--space-s) * -1);
  margin-inline-end: calc(var(--space-s) * -1);
  padding: var(--space-xs);
  position: relative;
}

.s-linear [style^="--chart-width"]::before {
  background-color: var(--color-neutral-darkest-alpha);
  content: "";
  display: block;
  inline-size: var(--chart-width);
  inset: 0;
  position: absolute;
}

.s-linear :is(aside, pre, table):not(:first-child) {
  margin-block-start: calc(var(--linear-flow-space) * 2);
}

.s-linear :is(aside, pre, table) {
  margin-block-end: calc(var(--linear-flow-space) * 2);
}

.s-linear h2:not([class]) {
  font-size: var(--font-size-xl);
  font-weight: 500;
  line-height: var(--line-height-tight);
  margin-block-start: var(--space-m-l);
}

.s-linear h3:not([class]) {
  font-size: var(--font-size-l);
  line-height: var(--line-height-tight);
  margin-block-start: var(--space-m-l);
}

.s-linear h4:not([class]) {
  color: var(--color-neutral-dark);
  margin-block-end: calc(var(--linear-flow-space) * -0.5);
}

.s-linear p > img:only-of-type:first-of-type {
  float: right;
  float: inline-end;
  inline-size: clamp(50%, 9rem, 40vw);
  margin-block-end: var(--linear-flow-space);
  margin-inline-start: var(--space-m);
}

.s-linear :is(ol, ul) {
  --flow-inset: calc(var(--flow-inset) * 2);
}

.s-linear dt,
.s-linear strong {
  font-weight: 500;
}

.s-linear dt {
  float: inline-start;
  font-weight: 500;
  margin-inline-end: 1ch;
}

.s-linear li:has(p) {
  margin-block-start: calc(var(--linear-flow-space) * 0.5);
}

.s-linear code {
  background-color: var(--color-offset);
}

.s-linear :not(pre) code,
.s-linear samp {
  font-size: 0.9em;
  padding: var(--text-spacing);
}

.s-linear pre code {
  padding: 0;
}
