name: Trigger Netlify Build
on:
  schedule:
    - cron: '0 0/4 * * *' # Run every 4 hours
jobs:
  build:
    name: Request Netlify Webhook
    runs-on: ubuntu-latest
    steps:
      - name: Curl request
        run: curl -X POST -d {} ${{ secrets.NETLIFY_BUILD_HOOK }}
