/* Bleed alignment */
.align-bleed {
  --linear-line-measure: auto;
  display: grid;
  grid-template-columns: [bleed-start] minmax(0, var(--linear-line-measure)) [measure] 1fr [bleed-end];
  margin-inline: calc(var(--gap) * -1);

  & > a:first-child,
  & > img:first-child,
  & > picture:first-child {
    grid-column: bleed;
    inline-size: 100%;
  }

  & figcaption {
    padding-inline: var(--gap);
  }
}

/* Pull alignment */
@media (--from-small-viewport) {
  .align-pull {
    float: right; /* Chromium */
    float: inline-end;
    inline-size: 33%;
    margin-block-start: 0 !important;
    margin-inline-end: calc(var(--gap) * -1);
    margin-inline-start: var(--gap);
  }
}
